{
  "openapi": "3.1.0",
  "info": {
    "title": "Scrinly Browser API",
    "version": "1.0.0",
    "description": "Public screenshot, region, Visual Style Guide, visual diff, monitoring, batch, job-status, and usage API."
  },
  "servers": [
    { "url": "https://api.scrinly.com", "description": "Production" }
  ],
  "security": [
    { "BearerAuth": [] }
  ],
  "tags": [
    { "name": "Screenshots" },
    { "name": "Batches" },
    { "name": "Diffs" },
    { "name": "Jobs" },
    { "name": "Usage" },
    { "name": "Monitors" },
    { "name": "Recipients" }
  ],
  "paths": {
    "/render/screenshot": {
      "get": {
        "tags": ["Screenshots"],
        "operationId": "getScreenshot",
        "summary": "Capture a screenshot",
        "description": "Returns JPEG or PNG bytes unless storage, regions, asynchronous delivery, or Visual Style Guide requires a JSON result.",
        "parameters": [
          { "$ref": "#/components/parameters/TargetUrl" },
          { "$ref": "#/components/parameters/Format" },
          { "$ref": "#/components/parameters/Quality" },
          { "$ref": "#/components/parameters/Width" },
          { "$ref": "#/components/parameters/Height" },
          { "$ref": "#/components/parameters/Device" },
          { "$ref": "#/components/parameters/FullPage" },
          { "$ref": "#/components/parameters/Theme" },
          { "$ref": "#/components/parameters/Store" },
          { "$ref": "#/components/parameters/StoragePath" },
          { "$ref": "#/components/parameters/Regions" },
          { "$ref": "#/components/parameters/StyleGuide" },
          { "$ref": "#/components/parameters/Regenerate" },
          { "$ref": "#/components/parameters/Cache" },
          { "$ref": "#/components/parameters/Async" },
          { "$ref": "#/components/parameters/ProviderApiKey" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/ScreenshotSuccess" },
          "202": { "$ref": "#/components/responses/AsyncAccepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "422": { "$ref": "#/components/responses/CaptureFailed" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "$ref": "#/components/responses/Unavailable" }
        }
      },
      "post": {
        "tags": ["Screenshots"],
        "operationId": "createScreenshot",
        "summary": "Capture a screenshot",
        "parameters": [
          { "$ref": "#/components/parameters/ProviderApiKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ScreenshotRequest" },
              "examples": {
                "stored": {
                  "value": { "url": "https://example.com", "fullPage": true, "store": true, "storage_path": "screenshots" }
                },
                "styleGuide": {
                  "value": { "url": "https://example.com", "styleGuide": true, "cache": true }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/ScreenshotSuccess" },
          "202": { "$ref": "#/components/responses/AsyncAccepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "422": { "$ref": "#/components/responses/CaptureFailed" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "$ref": "#/components/responses/Unavailable" }
        }
      }
    },
    "/render/batch": {
      "post": {
        "tags": ["Batches"],
        "operationId": "createScreenshotBatch",
        "summary": "Queue stored screenshots",
        "description": "Accepts up to 100 URLs. Public batches are screenshot-only and reserve one credit per accepted item.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BatchRequest" },
              "example": { "urls": ["https://example.com", "https://example.org"], "screenshot": true, "store": true, "storage_path": "batch" }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/BatchResult" },
          "207": { "$ref": "#/components/responses/BatchResult" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/render/diff": {
      "post": {
        "tags": ["Diffs"],
        "operationId": "createScreenshotDiff",
        "summary": "Compare stored screenshots",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DiffRequest" },
              "example": {
                "before": { "media": { "url": "https://storage.example.com/before.jpg" } },
                "after": { "media": { "url": "https://storage.example.com/after.jpg" } },
                "mode": "perceptual",
                "visualization": "overlay"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Completed comparison", "headers": { "X-Scrinly-Storage-URL": { "$ref": "#/components/headers/StorageUrl" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DiffResponse" } } } },
          "202": { "$ref": "#/components/responses/AsyncAccepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "413": { "$ref": "#/components/responses/TooLarge" },
          "422": { "$ref": "#/components/responses/DiffFailed" }
        }
      }
    },
    "/status/{jobId}": {
      "get": {
        "tags": ["Jobs"],
        "operationId": "getJobStatus",
        "summary": "Get account-owned job status",
        "parameters": [
          { "$ref": "#/components/parameters/JobId" }
        ],
        "responses": {
          "200": { "description": "Job status", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobStatus" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/usage": {
      "get": {
        "tags": ["Usage"],
        "operationId": "getUsage",
        "summary": "Get credit usage",
        "responses": {
          "200": { "description": "Current account usage", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UsageResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/render/monitors": {
      "get": {
        "tags": ["Monitors"],
        "operationId": "listMonitors",
        "summary": "List monitors",
        "parameters": [
          { "$ref": "#/components/parameters/Cursor" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": { "description": "Cursor-paginated monitors", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MonitorList" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Monitors"],
        "operationId": "createMonitor",
        "summary": "Create a monitor",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MonitorWrite" } } } },
        "responses": {
          "201": { "description": "Monitor created and baseline queued", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MonitorResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "403": { "$ref": "#/components/responses/PlanRestricted" },
          "503": { "$ref": "#/components/responses/Unavailable" }
        }
      }
    },
    "/render/monitors/{id}": {
      "parameters": [
        { "$ref": "#/components/parameters/MonitorId" }
      ],
      "get": {
        "tags": ["Monitors"],
        "operationId": "getMonitor",
        "summary": "Get a monitor",
        "responses": {
          "200": { "description": "Monitor", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MonitorResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "tags": ["Monitors"],
        "operationId": "updateMonitor",
        "summary": "Update, pause, or resume a monitor",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MonitorPatch" } } } },
        "responses": {
          "200": { "description": "Updated monitor", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MonitorResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Monitors"],
        "operationId": "deleteMonitor",
        "summary": "Delete a monitor",
        "responses": {
          "200": { "description": "Monitor deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/render/monitors/{id}/run": {
      "post": {
        "tags": ["Monitors"],
        "operationId": "runMonitor",
        "summary": "Queue a manual monitor run",
        "parameters": [
          { "$ref": "#/components/parameters/MonitorId" }
        ],
        "responses": {
          "202": { "description": "Run queued", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MonitorRunResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/render/monitors/{id}/baseline": {
      "post": {
        "tags": ["Monitors"],
        "operationId": "replaceMonitorBaseline",
        "summary": "Replace a fixed or rolling baseline",
        "parameters": [
          { "$ref": "#/components/parameters/MonitorId" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["runId"], "properties": { "runId": { "type": "string", "format": "uuid" } }, "additionalProperties": false } } } },
        "responses": {
          "200": { "description": "Baseline replaced", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MonitorResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/render/monitors/{id}/runs": {
      "get": {
        "tags": ["Monitors"],
        "operationId": "listMonitorRuns",
        "summary": "List monitor runs",
        "parameters": [
          { "$ref": "#/components/parameters/MonitorId" },
          { "$ref": "#/components/parameters/Cursor" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": { "description": "Cursor-paginated runs", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MonitorRunList" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/render/monitors/{id}/runs/{runId}": {
      "get": {
        "tags": ["Monitors"],
        "operationId": "getMonitorRun",
        "summary": "Get a monitor run",
        "parameters": [
          { "$ref": "#/components/parameters/MonitorId" },
          { "$ref": "#/components/parameters/RunId" }
        ],
        "responses": {
          "200": { "description": "Monitor run", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MonitorRunResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/render/monitor-recipients": {
      "get": {
        "tags": ["Recipients"],
        "operationId": "listMonitorRecipients",
        "summary": "List alert recipients",
        "parameters": [
          { "$ref": "#/components/parameters/Cursor" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": { "description": "Recipients", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RecipientList" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Recipients"],
        "operationId": "createMonitorRecipient",
        "summary": "Create or resend recipient verification",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["email"], "properties": { "email": { "type": "string", "format": "email" } }, "additionalProperties": false } } } },
        "responses": {
          "201": { "description": "Verification sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RecipientResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/render/monitor-recipients/verify": {
      "get": {
        "tags": ["Recipients"],
        "operationId": "verifyMonitorRecipient",
        "summary": "Verify an alert recipient",
        "security": [],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string", "minLength": 20 }, "description": "Single-use token from the verification email." }
        ],
        "responses": {
          "200": { "description": "Recipient verified", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RecipientResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/render/monitor-recipients/{id}": {
      "delete": {
        "tags": ["Recipients"],
        "operationId": "deleteMonitorRecipient",
        "summary": "Delete an alert recipient",
        "parameters": [
          { "$ref": "#/components/parameters/RecipientId" }
        ],
        "responses": {
          "200": { "description": "Recipient deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "Scrinly API key" }
    },
    "parameters": {
      "TargetUrl": { "name": "url", "in": "query", "required": true, "schema": { "type": "string", "format": "uri", "pattern": "^https?://" } },
      "Format": { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["jpg", "png"], "default": "jpg" } },
      "Quality": { "name": "quality", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 80 } },
      "Width": { "name": "width", "in": "query", "schema": { "type": "integer", "minimum": 320, "maximum": 3840, "default": 1280 } },
      "Height": { "name": "height", "in": "query", "schema": { "type": "integer", "minimum": 240, "maximum": 2160, "default": 720 } },
      "Device": { "name": "device", "in": "query", "schema": { "type": "string" }, "description": "Server-supported device preset; overrides width and height." },
      "FullPage": { "name": "fullPage", "in": "query", "schema": { "type": "boolean", "default": false } },
      "Theme": { "name": "theme", "in": "query", "schema": { "type": "string", "enum": ["light", "dark"], "default": "light" } },
      "Store": { "name": "store", "in": "query", "schema": { "type": "boolean", "default": false } },
      "StoragePath": { "name": "storage_path", "in": "query", "schema": { "type": "string" } },
      "Regions": { "name": "regions", "in": "query", "schema": { "type": "boolean", "default": false }, "description": "Adds ordered full-page crops and two credits; implies full-page storage." },
      "StyleGuide": { "name": "styleGuide", "in": "query", "schema": { "type": "boolean", "default": false }, "description": "Adds a GPT-5.6 Luna Visual Style Guide; implies regions and stored full-page capture." },
      "Regenerate": { "name": "regenerate", "in": "query", "schema": { "type": "boolean", "default": false }, "description": "Bypasses only the seven-day Style Guide cache. Requires styleGuide=true." },
      "Cache": { "name": "cache", "in": "query", "schema": { "type": "boolean", "default": false } },
      "Async": { "name": "async", "in": "query", "schema": { "type": "boolean", "default": false } },
      "ProviderApiKey": { "name": "X-Scrinly-Provider-API-Key", "in": "header", "required": false, "schema": { "type": "string", "writeOnly": true, "maxLength": 1024 }, "description": "Ephemeral OpenAI BYOK for Visual Style Guide. Server-to-server and synchronous only." },
      "JobId": { "name": "jobId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "MonitorId": { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "RunId": { "name": "runId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "RecipientId": { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "Cursor": { "name": "cursor", "in": "query", "schema": { "type": "string" } },
      "Limit": { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 } }
    },
    "headers": {
      "StorageUrl": { "description": "Direct URL for the complete stored output.", "schema": { "type": "string", "format": "uri" } },
      "CreditsUsed": { "description": "Credits used in the current allowance after settlement.", "schema": { "type": "integer" } },
      "CreditsLimit": { "description": "Account credit allowance.", "schema": { "type": "integer" } },
      "LlmProvider": { "description": "Selected Style Guide provider.", "schema": { "type": "string", "const": "openai" } }
    },
    "responses": {
      "ScreenshotSuccess": {
        "description": "Binary or JSON screenshot result. JSON may be partial when an add-on failed.",
        "headers": {
          "X-Scrinly-Storage-URL": { "$ref": "#/components/headers/StorageUrl" },
          "X-Scrinly-Credits-Used": { "$ref": "#/components/headers/CreditsUsed" },
          "X-Scrinly-Credits-Limit": { "$ref": "#/components/headers/CreditsLimit" },
          "X-Scrinly-LLM-Provider": { "$ref": "#/components/headers/LlmProvider" }
        },
        "content": {
          "image/jpeg": { "schema": { "type": "string", "contentEncoding": "binary" } },
          "image/png": { "schema": { "type": "string", "contentEncoding": "binary" } },
          "application/json": { "schema": { "oneOf": [ { "$ref": "#/components/schemas/ScreenshotResponse" }, { "$ref": "#/components/schemas/ScreenshotPartialResponse" } ] } }
        }
      },
      "AsyncAccepted": { "description": "Job accepted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AsyncAccepted" } } } },
      "BatchResult": { "description": "Per-item acceptance; 207 means partial acceptance.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BatchResponse" } } } },
      "BadRequest": { "description": "Validation failed", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Unauthorized": { "description": "Invalid or missing Scrinly key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "PaymentRequired": { "description": "Credit allowance exhausted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "PlanRestricted": { "description": "Plan does not allow the requested monitor capacity or cadence", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "NotFound": { "description": "Unknown or cross-account resource", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Conflict": { "description": "Conflicting run or state transition", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "TooLarge": { "description": "Request or image exceeds limits", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "CaptureFailed": { "description": "Complete finite screenshot could not be produced", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "DiffFailed": { "description": "Source integrity or diff processing failed; credit refunded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "RateLimited": { "description": "Host or provider rate limit", "headers": { "Retry-After": { "schema": { "type": "integer" } } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Unavailable": { "description": "Required platform configuration or provider unavailable", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
    },
    "schemas": {
      "ScreenshotRequest": {
        "type": "object",
        "required": ["url"],
        "additionalProperties": false,
        "properties": {
          "url": { "type": "string", "format": "uri", "pattern": "^https?://" },
          "format": { "type": "string", "enum": ["jpg", "png"], "default": "jpg" },
          "quality": { "type": "integer", "minimum": 1, "maximum": 100, "default": 80 },
          "width": { "type": "integer", "minimum": 320, "maximum": 3840, "default": 1280 },
          "height": { "type": "integer", "minimum": 240, "maximum": 2160, "default": 720 },
          "device": { "type": "string", "description": "Server-supported preset; overrides width and height." },
          "fullPage": { "type": "boolean", "default": false },
          "theme": { "type": "string", "enum": ["light", "dark"], "default": "light" },
          "timeout": { "type": "integer", "minimum": 10, "maximum": 60, "default": 30 },
          "waitUntil": { "type": "string", "enum": ["load", "domcontentloaded", "networkidle0", "networkidle2"], "default": "networkidle2" },
          "blockCookieBanners": { "type": "boolean" },
          "blockAds": { "type": "boolean" },
          "blockChatWidgets": { "type": "boolean" },
          "blockPopups": { "type": "boolean" },
          "blockAccessibilityWidgets": { "type": "boolean" },
          "hideSelectors": { "type": "array", "items": { "type": "string" } },
          "clickSelectors": { "type": "array", "items": { "type": "string" } },
          "scrollToElement": { "type": "string" },
          "headers": { "type": "object", "additionalProperties": { "type": "string" }, "writeOnly": true },
          "cookies": { "type": "array", "items": { "$ref": "#/components/schemas/Cookie" }, "writeOnly": true },
          "store": { "type": "boolean", "default": false },
          "storage_path": { "type": "string" },
          "storage_provider": { "type": "string", "enum": ["b2", "s3", "r2"] },
          "storage_bucket": { "type": "string" },
          "storage_endpoint": { "type": "string", "format": "uri", "writeOnly": true },
          "storage_region": { "type": "string" },
          "storage_access_key_id": { "type": "string", "writeOnly": true },
          "storage_secret_access_key": { "type": "string", "writeOnly": true },
          "storage_application_key_id": { "type": "string", "writeOnly": true },
          "storage_application_key": { "type": "string", "writeOnly": true },
          "storage_public_domain": { "type": "string", "format": "uri" },
          "storage_return_location": { "type": "boolean", "default": false },
          "regions": { "type": "boolean", "default": false },
          "design": { "type": "boolean", "default": false, "description": "Advanced raw observed design evidence." },
          "styleGuide": {
            "oneOf": [
              { "type": "boolean" },
              { "type": "object", "properties": { "regenerate": { "type": "boolean", "default": false } }, "additionalProperties": false }
            ],
            "default": false
          },
          "regenerate": { "type": "boolean", "default": false, "description": "Requires Style Guide; bypasses only its AI cache." },
          "cache": { "type": "boolean", "default": false },
          "async": { "type": "boolean", "default": false },
          "webhookUrl": { "type": "string", "format": "uri" },
          "webhookSecret": { "type": "string", "writeOnly": true },
          "priority": { "type": "string", "enum": ["low", "normal", "high"], "default": "normal" }
        }
      },
      "Cookie": {
        "type": "object",
        "required": ["name", "value"],
        "properties": {
          "name": { "type": "string" },
          "value": { "type": "string", "writeOnly": true },
          "domain": { "type": "string" },
          "path": { "type": "string" },
          "httpOnly": { "type": "boolean" },
          "secure": { "type": "boolean" },
          "sameSite": { "type": "string", "enum": ["Strict", "Lax", "None"] }
        },
        "additionalProperties": false
      },
      "Media": {
        "type": "object",
        "required": ["stored", "url", "contentType"],
        "properties": {
          "stored": { "type": "boolean", "const": true },
          "url": { "type": "string", "format": "uri", "description": "Direct B2, S3, or R2 URL." },
          "key": { "type": "string" },
          "location": { "type": "string" },
          "contentType": { "type": "string", "enum": ["image/jpeg", "image/png"] },
          "width": { "type": "integer" },
          "height": { "type": "integer" },
          "bytes": { "type": "integer" },
          "sha256": { "type": "string", "pattern": "^[a-f0-9]{64}$" }
        },
        "additionalProperties": true
      },
      "Credits": {
        "type": "object",
        "required": ["charged", "refunded", "net"],
        "properties": {
          "charged": { "type": "integer", "minimum": 0 },
          "refunded": { "type": "integer", "minimum": 0 },
          "net": { "type": "integer", "minimum": 0 }
        }
      },
      "Bounds": {
        "type": "object",
        "required": ["x", "y", "width", "height"],
        "properties": {
          "x": { "type": "integer", "minimum": 0 },
          "y": { "type": "integer", "minimum": 0 },
          "width": { "type": "integer", "minimum": 1 },
          "height": { "type": "integer", "minimum": 1 }
        }
      },
      "RegionSpec": {
        "type": "object",
        "required": ["summary", "claims", "confidence", "evidencePartIds"],
        "properties": {
          "summary": { "type": "string" },
          "claims": { "type": "array", "items": { "$ref": "#/components/schemas/StyleClaim" } },
          "confidence": { "type": "string", "enum": ["high", "medium", "low"] },
          "evidencePartIds": { "type": "array", "items": { "type": "string" } }
        }
      },
      "StyleClaim": {
        "type": "object",
        "required": ["category", "basis", "statement"],
        "properties": {
          "category": { "type": "string", "enum": ["visual_role", "layout", "hierarchy", "color", "typography", "spacing", "components", "states", "motion", "responsive"] },
          "basis": { "type": "string", "enum": ["observed", "inferred"] },
          "statement": { "type": "string" }
        }
      },
      "RegionPart": {
        "type": "object",
        "required": ["id", "index", "bounds", "media"],
        "properties": {
          "id": { "type": "string" },
          "index": { "type": "integer", "minimum": 0 },
          "bounds": { "$ref": "#/components/schemas/Bounds" },
          "media": { "$ref": "#/components/schemas/Media" }
        }
      },
      "Region": {
        "type": "object",
        "required": ["id", "order", "kind", "label", "confidence", "evidenceKinds", "bounds", "parts"],
        "properties": {
          "id": { "type": "string" },
          "order": { "type": "integer", "minimum": 0 },
          "kind": { "type": "string", "enum": ["navigation", "hero", "content", "features", "pricing", "testimonials", "faq", "logos", "cta", "footer"] },
          "label": { "type": "string" },
          "confidence": { "type": "string", "enum": ["high", "medium", "low"] },
          "evidenceKinds": { "type": "array", "items": { "type": "string" } },
          "bounds": { "$ref": "#/components/schemas/Bounds" },
          "parts": { "type": "array", "items": { "$ref": "#/components/schemas/RegionPart" } },
          "spec": { "$ref": "#/components/schemas/RegionSpec" }
        }
      },
      "Regions": {
        "type": "object",
        "required": ["version", "coordinateSpace", "screenshot", "limits", "items", "coverage"],
        "properties": {
          "version": { "type": "string", "const": "regions-v1" },
          "coordinateSpace": { "type": "string", "const": "screenshot_pixels" },
          "screenshot": { "type": "object", "properties": { "width": { "type": "integer" }, "height": { "type": "integer" }, "sha256": { "type": "string" } }, "required": ["width", "height", "sha256"] },
          "limits": { "type": "object", "properties": { "maxRegionHeight": { "type": "integer", "const": 1600 }, "maxAssets": { "type": "integer", "const": 32 } }, "required": ["maxRegionHeight", "maxAssets"] },
          "items": { "type": "array", "maxItems": 32, "items": { "$ref": "#/components/schemas/Region" } },
          "coverage": { "$ref": "#/components/schemas/Coverage" }
        }
      },
      "Coverage": {
        "type": "object",
        "properties": {
          "ratio": { "type": "number", "minimum": 0, "maximum": 1 },
          "truncated": { "type": "boolean" },
          "omittedAssets": { "type": "integer", "minimum": 0 },
          "safeCuts": { "type": "integer", "minimum": 0 },
          "forcedCuts": { "type": "integer", "minimum": 0 }
        },
        "additionalProperties": true
      },
      "StyleGuide": {
        "type": "object",
        "required": ["version", "summary", "document", "promptVersion", "schemaVersion", "projectionVersion", "visionVersion", "grounding", "coverage", "source", "provider", "usage", "cache"],
        "properties": {
          "version": { "type": "string", "const": "style-guide-v1" },
          "summary": { "type": "string" },
          "document": { "type": "string", "description": "Fixed-heading Markdown." },
          "promptVersion": { "type": "string" },
          "schemaVersion": { "type": "string", "const": "style-guide-v1" },
          "projectionVersion": { "type": "string" },
          "visionVersion": { "type": "string" },
          "sections": { "type": "object", "additionalProperties": { "type": "string" } },
          "grounding": { "type": "object", "required": ["status", "unknownLiteralCount"], "properties": { "status": { "type": "string", "enum": ["clean", "flagged"] }, "reason": { "type": ["string", "null"] }, "unknownLiteralCount": { "type": "integer", "minimum": 0 }, "diagnostics": { "type": "object", "additionalProperties": true } } },
          "coverage": { "$ref": "#/components/schemas/Coverage" },
          "source": { "type": "object", "properties": { "screenshotSha256": { "type": "string" }, "regionParts": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "string" }, "sha256": { "type": "string" } }, "required": ["id", "sha256"] } } }, "required": ["screenshotSha256", "regionParts"] },
          "provider": { "type": "object", "properties": { "label": { "type": "string", "const": "openai" }, "model": { "type": "string", "const": "gpt-5.6-luna" }, "credentialMode": { "type": "string", "enum": ["platform", "byok"] }, "inputMode": { "type": "string", "const": "overview_and_region_crops" }, "dataResidency": { "type": "string" }, "dataPolicy": { "type": "object", "additionalProperties": { "type": "string" } }, "settings": { "type": "object", "additionalProperties": true }, "latencyMs": { "type": "integer" }, "finishReason": { "type": "string" } }, "required": ["label", "model", "credentialMode", "inputMode"] },
          "usage": { "$ref": "#/components/schemas/TokenUsage" },
          "cache": { "type": "object", "required": ["hit"], "properties": { "hit": { "type": "boolean" } } }
        }
      },
      "TokenUsage": {
        "type": "object",
        "properties": {
          "inputTokens": { "type": "integer" },
          "outputTokens": { "type": "integer" },
          "totalTokens": { "type": "integer" },
          "cacheHitTokens": { "type": "integer" },
          "cacheMissTokens": { "type": "integer" },
          "reasoningTokens": { "type": "integer" },
          "providerDetails": { "type": "object", "additionalProperties": { "type": "integer" } }
        }
      },
      "ComponentError": {
        "type": "object",
        "required": ["type", "message", "retryable"],
        "properties": {
          "type": { "type": "string" },
          "message": { "type": "string" },
          "retryable": { "type": "boolean" },
          "reason": { "type": "string" },
          "unknownLiteralCount": { "type": "integer" },
          "missingRegionCount": { "type": "integer" }
        }
      },
      "ScreenshotResponse": {
        "type": "object",
        "required": ["success", "type", "media"],
        "properties": {
          "success": { "type": "boolean", "const": true },
          "type": { "type": "string", "const": "screenshot" },
          "url": { "type": "string", "format": "uri" },
          "media": { "$ref": "#/components/schemas/Media" },
          "design": { "type": "object", "additionalProperties": true },
          "regions": { "$ref": "#/components/schemas/Regions" },
          "styleGuide": { "$ref": "#/components/schemas/StyleGuide" },
          "credits": { "$ref": "#/components/schemas/Credits" },
          "renderTime": { "type": "integer" },
          "startedAt": { "type": "string", "format": "date-time" },
          "completedAt": { "type": "string", "format": "date-time" }
        }
      },
      "ScreenshotPartialResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/ScreenshotResponse" },
          {
            "type": "object",
            "required": ["status", "credits"],
            "properties": {
              "status": { "type": "string", "const": "partial" },
              "regions": { "oneOf": [ { "$ref": "#/components/schemas/Regions" }, { "type": "null" } ] },
              "regionError": { "$ref": "#/components/schemas/ComponentError" },
              "styleGuide": { "oneOf": [ { "$ref": "#/components/schemas/StyleGuide" }, { "type": "null" } ] },
              "styleGuideError": { "$ref": "#/components/schemas/ComponentError" }
            }
          }
        ]
      },
      "AsyncAccepted": {
        "type": "object",
        "required": ["success", "id", "statusUrl"],
        "properties": {
          "success": { "type": "boolean", "const": true },
          "id": { "type": "string", "format": "uuid" },
          "type": { "type": "string", "enum": ["screenshot", "diff"] },
          "statusUrl": { "type": "string" },
          "message": { "type": "string" },
          "credits": { "$ref": "#/components/schemas/Credits" }
        }
      },
      "BatchRequest": {
        "type": "object",
        "required": ["urls", "screenshot", "store", "storage_path"],
        "additionalProperties": true,
        "not": {
          "anyOf": [
            { "required": ["regions"] },
            { "required": ["design"] },
            { "required": ["styleGuide"] },
            { "required": ["regenerate"] },
            { "required": ["cache"] }
          ]
        },
        "properties": {
          "urls": { "type": "array", "minItems": 1, "maxItems": 100, "items": { "type": "string", "format": "uri", "pattern": "^https?://" } },
          "screenshot": { "type": "boolean", "const": true },
          "store": { "type": "boolean", "const": true },
          "storage_path": { "type": "string", "minLength": 1 },
          "format": { "type": "string", "enum": ["jpg", "png"], "default": "jpg" },
          "quality": { "type": "integer", "minimum": 1, "maximum": 100, "default": 80 },
          "width": { "type": "integer", "minimum": 320, "maximum": 3840 },
          "height": { "type": "integer", "minimum": 240, "maximum": 2160 },
          "device": { "type": "string" },
          "fullPage": { "type": "boolean", "default": false },
          "theme": { "type": "string", "enum": ["light", "dark"], "default": "light" },
          "timeout": { "type": "integer", "minimum": 10, "maximum": 60 },
          "waitUntil": { "type": "string", "enum": ["load", "domcontentloaded", "networkidle0", "networkidle2"] },
          "hideSelectors": { "type": "array", "items": { "type": "string" } },
          "clickSelectors": { "type": "array", "items": { "type": "string" } },
          "scrollToElement": { "type": "string" },
          "headers": { "type": "object", "additionalProperties": { "type": "string" }, "writeOnly": true },
          "cookies": { "type": "array", "items": { "$ref": "#/components/schemas/Cookie" }, "writeOnly": true },
          "webhookUrl": { "type": "string", "format": "uri" },
          "webhookSecret": { "type": "string", "writeOnly": true },
          "storage_provider": { "type": "string", "enum": ["b2", "s3", "r2"] },
          "storage_bucket": { "type": "string" },
          "storage_endpoint": { "type": "string", "format": "uri", "writeOnly": true },
          "storage_access_key_id": { "type": "string", "writeOnly": true },
          "storage_secret_access_key": { "type": "string", "writeOnly": true },
          "storage_public_domain": { "type": "string", "format": "uri" }
        }
      },
      "BatchItem": {
        "type": "object",
        "required": ["index", "success"],
        "properties": {
          "index": { "type": "integer" },
          "success": { "type": "boolean" },
          "jobId": { "type": "string", "format": "uuid" },
          "statusUrl": { "type": "string" },
          "error": { "$ref": "#/components/schemas/Error" },
          "credits": { "$ref": "#/components/schemas/Credits" }
        }
      },
      "BatchResponse": {
        "type": "object",
        "required": ["success", "total", "accepted", "failed", "results"],
        "properties": {
          "success": { "type": "boolean" },
          "total": { "type": "integer" },
          "accepted": { "type": "integer" },
          "failed": { "type": "integer" },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/BatchItem" } },
          "credits": { "$ref": "#/components/schemas/Credits" }
        }
      },
      "DiffSide": {
        "type": "object",
        "required": ["media"],
        "properties": {
          "media": { "type": "object", "required": ["url"], "properties": { "url": { "type": "string", "format": "uri", "pattern": "^https://" }, "contentType": { "type": "string" }, "width": { "type": "integer" }, "height": { "type": "integer" }, "sha256": { "type": "string" } }, "additionalProperties": true },
          "regions": { "$ref": "#/components/schemas/Regions" }
        },
        "additionalProperties": false
      },
      "DiffRequest": {
        "type": "object",
        "required": ["before", "after"],
        "properties": {
          "before": { "$ref": "#/components/schemas/DiffSide" },
          "after": { "$ref": "#/components/schemas/DiffSide" },
          "mode": { "type": "string", "enum": ["pixel", "perceptual"], "default": "perceptual" },
          "visualization": { "type": "string", "enum": ["overlay", "heatmap", "mask", "none"], "default": "overlay" },
          "async": { "type": "boolean", "default": false },
          "webhookUrl": { "type": "string", "format": "uri" },
          "webhookSecret": { "type": "string", "writeOnly": true },
          "storage_provider": { "type": "string", "enum": ["b2", "s3", "r2"] },
          "storage_path": { "type": "string", "default": "diffs" }
        },
        "additionalProperties": false
      },
      "DiffRegion": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["unchanged", "changed", "added", "removed"] },
          "kind": { "type": "string" },
          "beforeId": { "type": ["string", "null"] },
          "afterId": { "type": ["string", "null"] },
          "differenceRatio": { "type": "number" },
          "similarity": { "type": "number" },
          "positionChanged": { "type": "boolean" },
          "sizeChanged": { "type": "boolean" },
          "bounds": { "$ref": "#/components/schemas/Bounds" }
        }
      },
      "DiffResponse": {
        "type": "object",
        "required": ["success", "type", "before", "after", "diff", "credits"],
        "properties": {
          "success": { "type": "boolean", "const": true },
          "type": { "type": "string", "const": "diff" },
          "before": { "type": "object", "properties": { "width": { "type": "integer" }, "height": { "type": "integer" }, "contentType": { "type": "string" }, "sha256": { "type": "string" } } },
          "after": { "type": "object", "properties": { "width": { "type": "integer" }, "height": { "type": "integer" }, "contentType": { "type": "string" }, "sha256": { "type": "string" } } },
          "diff": {
            "type": "object",
            "properties": {
              "version": { "type": "string", "const": "screenshot-diff-v2" },
              "mode": { "type": "string", "enum": ["pixel", "perceptual"] },
              "visualization": { "type": "string", "enum": ["overlay", "heatmap", "mask", "none"] },
              "changed": { "type": "boolean" },
              "changedPixels": { "type": "integer" },
              "comparedPixels": { "type": "integer" },
              "differenceRatio": { "type": "number" },
              "similarity": { "type": "number" },
              "comparisonCoverage": { "type": "number" },
              "changedBounds": { "type": "array", "maxItems": 128, "items": { "allOf": [ { "$ref": "#/components/schemas/Bounds" }, { "type": "object", "properties": { "status": { "type": "string", "enum": ["changed", "added", "removed"] }, "coordinateSpace": { "type": "string", "enum": ["before", "after"] } } } ] } },
              "boundsTruncated": { "type": "boolean" },
              "omittedBounds": { "type": "integer" },
              "regionMatching": { "type": "object", "properties": { "status": { "type": "string", "enum": ["available", "unavailable"] } } },
              "regions": { "type": "array", "items": { "$ref": "#/components/schemas/DiffRegion" } }
            }
          },
          "media": { "oneOf": [ { "$ref": "#/components/schemas/Media" }, { "type": "null" } ] },
          "credits": { "$ref": "#/components/schemas/Credits" }
        }
      },
      "JobStatus": {
        "type": "object",
        "required": ["id", "status", "progress"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "enum": ["queued", "in_progress", "completed", "failed"] },
          "progress": { "type": "integer", "minimum": 0, "maximum": 100 },
          "result": { "oneOf": [ { "$ref": "#/components/schemas/ScreenshotResponse" }, { "$ref": "#/components/schemas/ScreenshotPartialResponse" }, { "$ref": "#/components/schemas/DiffResponse" } ] },
          "error": { "$ref": "#/components/schemas/Error" },
          "createdAt": { "type": "string", "format": "date-time" },
          "startedAt": { "type": ["string", "null"], "format": "date-time" },
          "completedAt": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "UsageResponse": {
        "type": "object",
        "required": ["success", "credits"],
        "properties": {
          "success": { "type": "boolean", "const": true },
          "credits": { "type": "object", "properties": { "used": { "type": "integer" }, "total": { "type": "integer" }, "remaining": { "type": "integer" }, "percentageUsed": { "type": "number" } }, "required": ["used", "total", "remaining", "percentageUsed"] },
          "plan": { "type": "string" },
          "periodEnd": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "MonitorCapture": {
        "type": "object",
        "properties": {
          "fullPage": { "type": "boolean", "default": true },
          "regions": { "type": "boolean", "default": false },
          "format": { "type": "string", "enum": ["jpg", "png"], "default": "jpg" },
          "quality": { "type": "integer", "minimum": 1, "maximum": 100, "default": 80 },
          "device": { "type": "string" },
          "width": { "type": "integer" },
          "height": { "type": "integer" },
          "theme": { "type": "string", "enum": ["light", "dark"] },
          "timeout": { "type": "integer", "minimum": 10, "maximum": 60 },
          "waitUntil": { "type": "string", "enum": ["load", "domcontentloaded", "networkidle0", "networkidle2"] },
          "hideSelectors": { "type": "array", "items": { "type": "string" } },
          "clickSelectors": { "type": "array", "items": { "type": "string" }, "writeOnly": true },
          "headers": { "type": "object", "additionalProperties": { "type": "string" }, "writeOnly": true },
          "cookies": { "type": "array", "items": { "$ref": "#/components/schemas/Cookie" }, "writeOnly": true },
          "storage_provider": { "type": "string", "enum": ["b2", "s3", "r2"] },
          "storage_path": { "type": "string" }
        },
        "additionalProperties": true
      },
      "MonitorDiff": {
        "type": "object",
        "properties": {
          "mode": { "type": "string", "enum": ["pixel", "perceptual"], "default": "perceptual" },
          "visualization": { "type": "string", "enum": ["overlay", "heatmap", "mask", "none"], "default": "overlay" }
        },
        "additionalProperties": false
      },
      "MonitorAlerts": {
        "type": "object",
        "properties": {
          "email": { "type": "object", "properties": { "account": { "type": "boolean", "default": true }, "recipientIds": { "type": "array", "maxItems": 5, "items": { "type": "string", "format": "uuid" } } } },
          "webhook": { "type": "object", "properties": { "url": { "type": "string", "format": "uri", "writeOnly": true }, "secret": { "type": ["string", "null"], "writeOnly": true } } }
        }
      },
      "MonitorWrite": {
        "type": "object",
        "required": ["name", "url", "intervalMinutes"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 100 },
          "url": { "type": "string", "format": "uri", "pattern": "^https?://", "writeOnly": true },
          "intervalMinutes": { "type": "integer", "minimum": 1, "maximum": 43200 },
          "baselineMode": { "type": "string", "enum": ["rolling", "fixed"], "default": "rolling" },
          "changeThreshold": { "type": "number", "minimum": 0, "maximum": 1, "default": 0.01 },
          "capture": { "$ref": "#/components/schemas/MonitorCapture" },
          "diff": { "$ref": "#/components/schemas/MonitorDiff" },
          "alerts": { "$ref": "#/components/schemas/MonitorAlerts" }
        },
        "additionalProperties": false
      },
      "MonitorPatch": {
        "type": "object",
        "minProperties": 1,
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 100 },
          "url": { "type": "string", "format": "uri", "pattern": "^https?://", "writeOnly": true },
          "intervalMinutes": { "type": "integer", "minimum": 1, "maximum": 43200 },
          "baselineMode": { "type": "string", "enum": ["rolling", "fixed"] },
          "changeThreshold": { "type": "number", "minimum": 0, "maximum": 1 },
          "capture": { "$ref": "#/components/schemas/MonitorCapture" },
          "diff": { "$ref": "#/components/schemas/MonitorDiff" },
          "alerts": { "$ref": "#/components/schemas/MonitorAlerts" },
          "status": { "type": "string", "enum": ["active", "paused"] }
        },
        "additionalProperties": false
      },
      "Monitor": {
        "type": "object",
        "required": ["id", "name", "status", "intervalMinutes", "baselineMode", "changeThreshold", "capture", "diff", "createdAt"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "status": { "type": "string", "enum": ["active", "paused", "paused_plan_limit", "deleted"] },
          "intervalMinutes": { "type": "integer" },
          "baselineMode": { "type": "string", "enum": ["rolling", "fixed"] },
          "changeThreshold": { "type": "number" },
          "capture": { "type": "object", "additionalProperties": true },
          "diff": { "$ref": "#/components/schemas/MonitorDiff" },
          "alerts": { "type": "object", "additionalProperties": true },
          "baselineRunId": { "type": ["string", "null"], "format": "uuid" },
          "nextRunAt": { "type": ["string", "null"], "format": "date-time" },
          "lastRunAt": { "type": ["string", "null"], "format": "date-time" },
          "incident": { "type": ["object", "null"], "additionalProperties": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "MonitorResponse": { "type": "object", "required": ["success", "monitor"], "properties": { "success": { "type": "boolean", "const": true }, "monitor": { "$ref": "#/components/schemas/Monitor" } } },
      "MonitorList": { "type": "object", "required": ["success", "monitors"], "properties": { "success": { "type": "boolean", "const": true }, "monitors": { "type": "array", "items": { "$ref": "#/components/schemas/Monitor" } }, "nextCursor": { "type": ["string", "null"] }, "total": { "type": "integer" } } },
      "MonitorRun": {
        "type": "object",
        "required": ["id", "monitorId", "status", "trigger", "credits", "createdAt", "expiresAt"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "monitorId": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "enum": ["queued", "capturing", "baseline", "diffing", "completed", "partial", "failed", "skipped_no_credits"] },
          "trigger": { "type": "string", "enum": ["initial", "scheduled", "manual"] },
          "comparedToRunId": { "type": ["string", "null"], "format": "uuid" },
          "differenceRatio": { "type": ["number", "null"] },
          "regionCount": { "type": "integer" },
          "credits": { "$ref": "#/components/schemas/Credits" },
          "result": { "type": ["object", "null"], "additionalProperties": true },
          "error": { "oneOf": [ { "$ref": "#/components/schemas/Error" }, { "type": "null" } ] },
          "createdAt": { "type": "string", "format": "date-time" },
          "startedAt": { "type": ["string", "null"], "format": "date-time" },
          "completedAt": { "type": ["string", "null"], "format": "date-time" },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "MonitorRunResponse": { "type": "object", "required": ["success", "run"], "properties": { "success": { "type": "boolean", "const": true }, "run": { "$ref": "#/components/schemas/MonitorRun" } } },
      "MonitorRunList": { "type": "object", "required": ["success", "runs"], "properties": { "success": { "type": "boolean", "const": true }, "runs": { "type": "array", "items": { "$ref": "#/components/schemas/MonitorRun" } }, "nextCursor": { "type": ["string", "null"] } } },
      "Recipient": {
        "type": "object",
        "required": ["id", "status", "createdAt"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "emailMasked": { "type": "string", "description": "Safe masked address; plaintext addresses are encrypted at rest." },
          "status": { "type": "string", "enum": ["pending", "verified"] },
          "createdAt": { "type": "string", "format": "date-time" },
          "verifiedAt": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "RecipientResponse": { "type": "object", "required": ["success", "recipient"], "properties": { "success": { "type": "boolean", "const": true }, "recipient": { "$ref": "#/components/schemas/Recipient" } } },
      "RecipientList": { "type": "object", "required": ["success", "recipients"], "properties": { "success": { "type": "boolean", "const": true }, "recipients": { "type": "array", "items": { "$ref": "#/components/schemas/Recipient" } }, "nextCursor": { "type": ["string", "null"] } } },
      "DeleteResponse": { "type": "object", "required": ["success"], "properties": { "success": { "type": "boolean", "const": true } } },
      "ErrorField": { "type": "object", "required": ["field", "message"], "properties": { "field": { "type": "string" }, "message": { "type": "string" } } },
      "Error": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": { "type": "boolean", "const": false },
          "error": { "type": "string" },
          "type": { "type": "string" },
          "code": { "type": "string" },
          "retryable": { "type": "boolean" },
          "fields": { "type": "array", "items": { "$ref": "#/components/schemas/ErrorField" } },
          "credits": { "$ref": "#/components/schemas/Credits" }
        }
      }
    }
  }
}
