{
  "openapi": "3.1.0",
  "info": {
    "title": "Scrinly Browser API",
    "version": "2026-08-14",
    "description": "Public API for browser rendering, screenshots, structured extraction, grounded page-reconstruction blueprints, batches, jobs, crawls, schedules, and usage."
  },
  "servers": [
    { "url": "https://api.scrinly.com", "description": "Production" }
  ],
  "security": [
    { "BearerAuth": [] }
  ],
  "tags": [
    { "name": "Rendering", "description": "Synchronous and asynchronous browser renders." },
    { "name": "Batches", "description": "Create multiple asynchronous render jobs." },
    { "name": "Jobs", "description": "Inspect and retry account-owned jobs." },
    { "name": "Crawls", "description": "Traverse a site and collect page results." },
    { "name": "Schedules", "description": "Create and manage account-owned render schedules." },
    { "name": "Usage", "description": "Read account credit usage." }
  ],
  "paths": {
    "/render": {
      "post": {
        "tags": ["Rendering"],
        "summary": "Submit an asynchronous render",
        "operationId": "submitRender",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AsyncRenderRequest" } } }
        },
        "responses": {
          "202": { "$ref": "#/components/responses/JobAccepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/render/snapshot": {
      "get": {
        "tags": ["Rendering"],
        "summary": "Capture a page snapshot",
        "description": "Extracts metadata and selected page content. `blueprint=true` is synchronous, implies design extraction, and cannot be combined with async or webhook delivery. The legacy `api_key` query credential is discouraged because URLs can leak through logs, browser history, proxies, and analytics.",
        "operationId": "getSnapshot",
        "security": [{ "BearerAuth": [] }, { "LegacyQueryKey": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/SnapshotUrl" },
          { "$ref": "#/components/parameters/Markdown" },
          { "$ref": "#/components/parameters/Html" },
          { "$ref": "#/components/parameters/Links" },
          { "$ref": "#/components/parameters/Images" },
          { "$ref": "#/components/parameters/Videos" },
          { "$ref": "#/components/parameters/Fonts" },
          { "$ref": "#/components/parameters/Colors" },
          { "$ref": "#/components/parameters/Structure" },
          { "$ref": "#/components/parameters/Design" },
          { "$ref": "#/components/parameters/Blueprint" },
          { "$ref": "#/components/parameters/BlueprintViewports" },
          { "$ref": "#/components/parameters/BlueprintScreenshots" },
          { "$ref": "#/components/parameters/Interpret" },
          { "$ref": "#/components/parameters/Provider" },
          { "$ref": "#/components/parameters/Refresh" },
          { "$ref": "#/components/parameters/Async" },
          { "$ref": "#/components/parameters/ProviderApiKey" },
          { "$ref": "#/components/parameters/Timeout" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/SnapshotResult" },
          "202": { "$ref": "#/components/responses/JobAccepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "503": { "$ref": "#/components/responses/ProviderUnavailable" }
        }
      },
      "post": {
        "tags": ["Rendering"],
        "summary": "Capture a page snapshot",
        "operationId": "createSnapshot",
        "parameters": [{ "$ref": "#/components/parameters/ProviderApiKey" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SnapshotRequest" } } }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/SnapshotResult" },
          "202": { "$ref": "#/components/responses/JobAccepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "503": { "$ref": "#/components/responses/ProviderUnavailable" }
        }
      }
    },
    "/render/screenshot": {
      "get": {
        "tags": ["Rendering"],
        "summary": "Capture a screenshot",
        "operationId": "getScreenshot",
        "security": [{ "BearerAuth": [] }, { "LegacyQueryKey": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/SnapshotUrl" },
          { "$ref": "#/components/parameters/Format" },
          { "$ref": "#/components/parameters/Quality" },
          { "$ref": "#/components/parameters/Width" },
          { "$ref": "#/components/parameters/Height" },
          { "$ref": "#/components/parameters/FullPage" },
          { "$ref": "#/components/parameters/Theme" },
          { "$ref": "#/components/parameters/Design" },
          { "$ref": "#/components/parameters/Async" },
          { "$ref": "#/components/parameters/Store" },
          { "$ref": "#/components/parameters/Timeout" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/ScreenshotResult" },
          "202": { "$ref": "#/components/responses/JobAccepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "tags": ["Rendering"],
        "summary": "Capture a screenshot",
        "operationId": "createScreenshot",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ScreenshotRequest" } } }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/ScreenshotResult" },
          "202": { "$ref": "#/components/responses/JobAccepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/render/batch": {
      "post": {
        "tags": ["Batches"],
        "summary": "Submit a render batch",
        "operationId": "submitRenderBatch",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BatchRequest" } } } },
        "responses": {
          "200": { "$ref": "#/components/responses/BatchResult" },
          "207": { "$ref": "#/components/responses/BatchResult" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/render/smart-batch": {
      "post": {
        "tags": ["Batches"],
        "summary": "Submit a host-aware render batch",
        "operationId": "submitSmartRenderBatch",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BatchRequest" } } } },
        "responses": {
          "200": { "$ref": "#/components/responses/BatchResult" },
          "207": { "$ref": "#/components/responses/BatchResult" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/status/{jobId}": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Get job status",
        "description": "Requires a valid customer key. Jobs owned by another account return the same 404 as an unknown ID.",
        "operationId": "getJobStatus",
        "parameters": [{ "$ref": "#/components/parameters/JobId" }],
        "responses": {
          "200": { "description": "Current job state", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobStatus" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/retry/{jobId}": {
      "post": {
        "tags": ["Jobs"],
        "summary": "Retry a failed job",
        "operationId": "retryJob",
        "parameters": [{ "$ref": "#/components/parameters/JobId" }],
        "responses": {
          "202": { "$ref": "#/components/responses/JobAccepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/retry-failed": {
      "post": {
        "tags": ["Jobs"],
        "summary": "Retry failed jobs",
        "operationId": "retryFailedJobs",
        "requestBody": { "required": false, "content": { "application/json": { "schema": { "type": "object", "properties": { "limit": { "type": "integer", "minimum": 1 } } } } } },
        "responses": {
          "200": { "description": "Retry summary", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RetrySummary" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/dead-letter-queue": {
      "get": {
        "tags": ["Jobs"],
        "summary": "List exhausted jobs",
        "operationId": "listDeadLetterJobs",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 } }
        ],
        "responses": {
          "200": { "description": "Dead-letter jobs", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "const": true }, "jobs": { "type": "array", "items": { "$ref": "#/components/schemas/JobStatus" } } }, "required": ["success", "jobs"] } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/crawl": {
      "post": {
        "tags": ["Crawls"],
        "summary": "Start a crawl",
        "operationId": "createCrawl",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CrawlRequest" } } } },
        "responses": {
          "202": { "description": "Crawl accepted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CrawlAccepted" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/crawls": {
      "get": {
        "tags": ["Crawls"],
        "summary": "List crawls",
        "operationId": "listCrawls",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Account-owned crawls", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CrawlList" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/crawl/{crawlId}": {
      "get": {
        "tags": ["Crawls"],
        "summary": "Get crawl status",
        "operationId": "getCrawl",
        "parameters": [{ "$ref": "#/components/parameters/CrawlId" }],
        "responses": {
          "200": { "description": "Crawl state and counters", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Crawl" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Crawls"],
        "summary": "Cancel a crawl",
        "operationId": "cancelCrawl",
        "parameters": [{ "$ref": "#/components/parameters/CrawlId" }],
        "responses": {
          "200": { "description": "Cancellation accepted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Crawl" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/crawl/{crawlId}/pages": {
      "get": {
        "tags": ["Crawls"],
        "summary": "List crawl pages",
        "operationId": "listCrawlPages",
        "parameters": [
          { "$ref": "#/components/parameters/CrawlId" },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["queued", "in_progress", "completed", "failed", "skipped"] } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Cursor-paginated pages", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CrawlPages" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/crawl/{crawlId}/results": {
      "get": {
        "tags": ["Crawls"],
        "summary": "List crawl results",
        "operationId": "listCrawlResults",
        "parameters": [
          { "$ref": "#/components/parameters/CrawlId" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Completed crawl-page results", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CrawlResults" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/render/scheduled": {
      "post": {
        "tags": ["Schedules"],
        "summary": "Schedule one render",
        "operationId": "createScheduledRender",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ScheduledRenderRequest" } } } },
        "responses": {
          "201": { "description": "Schedule created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Schedule" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "get": {
        "tags": ["Schedules"],
        "summary": "List scheduled renders",
        "description": "Returns schedules owned by the authenticated account only.",
        "operationId": "listScheduledRenders",
        "parameters": [
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["delayed", "repeatable"] } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "minimum": 0, "default": 0 } }
        ],
        "responses": {
          "200": { "description": "Account-owned schedules", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ScheduleList" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/render/scheduled/{id}": {
      "delete": {
        "tags": ["Schedules"],
        "summary": "Cancel a scheduled render",
        "description": "An unknown ID and a schedule owned by another account both return 404.",
        "operationId": "cancelScheduledRender",
        "parameters": [{ "$ref": "#/components/parameters/ScheduleId" }],
        "responses": {
          "200": { "description": "Schedule cancelled", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Schedule" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/render/bulk-scheduled": {
      "post": {
        "tags": ["Schedules"],
        "summary": "Schedule multiple one-time renders",
        "operationId": "createBulkScheduledRenders",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BulkScheduleRequest" } } } },
        "responses": {
          "200": { "description": "All schedules created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BulkScheduleResponse" } } } },
          "207": { "description": "Some schedules were rejected", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BulkScheduleResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/render/schedule-recurring": {
      "post": {
        "tags": ["Schedules"],
        "summary": "Create a recurring render",
        "operationId": "createRecurringRender",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RecurringScheduleRequest" } } } },
        "responses": {
          "201": { "description": "Recurring schedule created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Schedule" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/usage": {
      "get": {
        "tags": ["Usage"],
        "summary": "Get account usage",
        "operationId": "getUsage",
        "responses": {
          "200": { "description": "Current account and credit usage", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Usage" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Scrinly API key",
        "description": "Customer API key from the Scrinly dashboard."
      },
      "LegacyQueryKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Discouraged compatibility fallback. Query credentials can leak into histories, logs, proxies, and analytics."
      }
    },
    "parameters": {
      "SnapshotUrl": { "name": "url", "in": "query", "required": true, "schema": { "$ref": "#/components/schemas/HttpUrl" } },
      "Markdown": { "name": "markdown", "in": "query", "schema": { "type": "boolean", "default": false } },
      "Html": { "name": "html", "in": "query", "schema": { "type": "boolean", "default": false } },
      "Links": { "name": "links", "in": "query", "schema": { "type": "boolean", "default": false } },
      "Images": { "name": "images", "in": "query", "schema": { "type": "boolean", "default": false } },
      "Videos": { "name": "videos", "in": "query", "schema": { "type": "boolean", "default": false } },
      "Fonts": { "name": "fonts", "in": "query", "schema": { "type": "boolean", "default": false } },
      "Colors": { "name": "colors", "in": "query", "schema": { "type": "boolean", "default": false } },
      "Structure": { "name": "structure", "in": "query", "schema": { "type": "boolean", "default": false } },
      "Design": { "name": "design", "in": "query", "schema": { "type": "boolean", "default": false } },
      "Interpret": { "name": "interpret", "in": "query", "schema": { "type": "boolean", "default": false }, "description": "Have a model read the blueprint back as a grounded Markdown document. Requires `blueprint=true`. Only a sanitised projection of the blueprint is sent to the provider: page copy, selectors and URLs are removed first. Adds 3 credits, or 1 with your own provider key." },
      "Blueprint": { "name": "blueprint", "in": "query", "schema": { "type": "boolean", "default": false }, "description": "Return a reconstruction blueprint: labelled page regions carrying the motion, repeating components and generated stylesheets needed to rebuild the page. Implies `design=true`, requires synchronous mode, and refuses async or webhook delivery. Adds 6 credits." },
      "BlueprintViewports": { "name": "viewports", "in": "query", "schema": { "type": "string", "pattern": "^(desktop|mobile)(,(desktop|mobile))*$", "default": "desktop,mobile" }, "description": "Comma-separated viewports to capture, widest first — the first is the one regions and skeletons are measured from. Only valid with `blueprint=true`; rejected otherwise rather than ignored." },
      "BlueprintScreenshots": { "name": "screenshots", "in": "query", "schema": { "type": "boolean", "default": true }, "description": "Store one screenshot per viewport, taken in the page session the capture already opened. Set false to run a blueprint with no storage bucket configured. Only valid with `blueprint=true`." },
      "Provider": { "name": "provider", "in": "query", "schema": { "$ref": "#/components/schemas/Provider" } },
      "Refresh": { "name": "refresh", "in": "query", "schema": { "type": "boolean", "default": false }, "description": "Bypass the interpretation cache and regenerate the document. The capture always runs." },
      "Async": { "name": "async", "in": "query", "schema": { "type": "boolean", "default": false } },
      "Timeout": { "name": "timeout", "in": "query", "schema": { "type": "integer", "minimum": 10, "maximum": 60, "default": 30 } },
      "Format": { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["jpg", "png"], "default": "jpg" } },
      "Quality": { "name": "quality", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 80 } },
      "Width": { "name": "width", "in": "query", "schema": { "type": "integer", "minimum": 100, "maximum": 3840, "default": 1920 } },
      "Height": { "name": "height", "in": "query", "schema": { "type": "integer", "minimum": 100, "maximum": 2160, "default": 1080 } },
      "FullPage": { "name": "fullPage", "in": "query", "schema": { "type": "boolean", "default": false } },
      "Theme": { "name": "theme", "in": "query", "schema": { "type": "string", "enum": ["light", "dark"], "default": "light" } },
      "Store": { "name": "store", "in": "query", "schema": { "type": "boolean", "default": false } },
      "ProviderApiKey": {
        "name": "X-Scrinly-Provider-API-Key",
        "in": "header",
        "required": false,
        "schema": { "type": "string", "writeOnly": true },
        "description": "Ephemeral server-to-server key for the selected AI provider. Never put it in a URL or JSON body."
      },
      "JobId": { "name": "jobId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "CrawlId": { "name": "crawlId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "ScheduleId": { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
    },
    "headers": {
      "CreditsCharged": { "description": "Credits charged before refunds.", "schema": { "type": "integer", "minimum": 0 } },
      "CreditsRefunded": { "description": "Credits refunded by this request.", "schema": { "type": "integer", "minimum": 0 } },
      "CreditsRemaining": { "description": "Credits left in the current account period.", "schema": { "type": "integer", "minimum": 0 } },
      "LlmProvider": { "description": "Selected AI provider for the interpretation.", "schema": { "type": "string", "enum": ["deepseek", "openai"] } },
      "RetryAfter": { "description": "Seconds to wait before retrying.", "schema": { "type": "integer", "minimum": 1 } }
    },
    "responses": {
      "SnapshotResult": {
        "description": "Snapshot, optionally carrying a blueprint and its interpretation. `blueprint_only` reports a capture that succeeded with a failed interpretation.",
        "headers": {
          "X-Credits-Charged": { "$ref": "#/components/headers/CreditsCharged" },
          "X-Credits-Refunded": { "$ref": "#/components/headers/CreditsRefunded" },
          "X-Credits-Remaining": { "$ref": "#/components/headers/CreditsRemaining" },
          "X-Scrinly-LLM-Provider": { "$ref": "#/components/headers/LlmProvider" }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/SnapshotResponse" }
          }
        }
      },
      "ScreenshotResult": {
        "description": "Raw image bytes, or JSON when storage or design extraction is enabled.",
        "headers": {
          "X-Credits-Charged": { "$ref": "#/components/headers/CreditsCharged" },
          "X-Credits-Remaining": { "$ref": "#/components/headers/CreditsRemaining" }
        },
        "content": {
          "image/jpeg": { "schema": { "type": "string", "contentEncoding": "binary" } },
          "image/png": { "schema": { "type": "string", "contentEncoding": "binary" } },
          "application/json": { "schema": { "$ref": "#/components/schemas/ScreenshotStoredResponse" } }
        }
      },
      "JobAccepted": {
        "description": "Job accepted for asynchronous processing.",
        "headers": {
          "X-Credits-Charged": { "$ref": "#/components/headers/CreditsCharged" },
          "X-Credits-Remaining": { "$ref": "#/components/headers/CreditsRemaining" }
        },
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } }
      },
      "BatchResult": {
        "description": "Per-item batch acceptance or validation results.",
        "headers": {
          "X-Credits-Charged": { "$ref": "#/components/headers/CreditsCharged" },
          "X-Credits-Refunded": { "$ref": "#/components/headers/CreditsRefunded" },
          "X-Credits-Remaining": { "$ref": "#/components/headers/CreditsRemaining" }
        },
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BatchResponse" } } }
      },
      "BadRequest": { "description": "Invalid request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Unauthorized": { "description": "Missing, unknown, or revoked API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "PaymentRequired": { "description": "Credit limit reached", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Forbidden": { "description": "Account is deactivated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "NotFound": { "description": "Resource not found for this account", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "RateLimited": { "description": "Rate limited", "headers": { "Retry-After": { "$ref": "#/components/headers/RetryAfter" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "ProviderUnavailable": { "description": "Selected platform-funded AI provider is not configured", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InterpretationError" } } } }
    },
    "schemas": {
      "HttpUrl": { "type": "string", "format": "uri", "maxLength": 2048, "pattern": "^https?://" },
      "Provider": { "type": "string", "enum": ["deepseek", "openai"], "default": "deepseek" },
      "Cookie": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name", "value"],
        "properties": {
          "name": { "type": "string", "minLength": 1 },
          "value": { "type": "string" },
          "domain": { "type": "string" },
          "path": { "type": "string" },
          "expires": { "type": "number" },
          "httpOnly": { "type": "boolean" },
          "secure": { "type": "boolean" },
          "sameSite": { "type": "string", "enum": ["Strict", "Lax", "None"] }
        }
      },
      "RenderOptions": {
        "type": "object",
        "properties": {
          "url": { "$ref": "#/components/schemas/HttpUrl" },
          "timeout": { "type": "integer", "minimum": 10, "maximum": 60, "default": 30 },
          "waitUntil": { "type": "string", "enum": ["load", "domcontentloaded", "networkidle0", "networkidle2"], "default": "networkidle2" },
          "width": { "type": "integer", "minimum": 100, "maximum": 3840 },
          "height": { "type": "integer", "minimum": 100, "maximum": 2160 },
          "device": { "type": "string", "description": "Supported device preset; overrides width and height." },
          "theme": { "type": "string", "enum": ["light", "dark"], "default": "light" },
          "blockCookieBanners": { "type": "boolean", "default": true },
          "blockAds": { "type": "boolean", "default": true },
          "blockChatWidgets": { "type": "boolean", "default": true },
          "blockPopups": { "type": "boolean", "default": true },
          "blockAccessibilityWidgets": { "type": "boolean", "default": true },
          "hideSelectors": { "type": "array", "items": { "type": "string", "minLength": 1 } },
          "clickSelectors": { "type": "array", "items": { "type": "string", "minLength": 1 } },
          "scrollToElement": { "type": "string", "minLength": 1 },
          "headers": { "type": "object", "additionalProperties": { "type": "string" }, "writeOnly": true },
          "cookies": { "type": "array", "items": { "$ref": "#/components/schemas/Cookie" }, "writeOnly": true },
          "priority": { "type": "string", "enum": ["low", "normal", "high"], "default": "normal" },
          "cache": { "type": "boolean", "default": false },
          "webhookUrl": { "$ref": "#/components/schemas/HttpUrl" },
          "webhookSecret": { "type": "string", "writeOnly": true },
          "store": { "type": "boolean", "default": false },
          "storage_provider": { "type": "string", "enum": ["b2", "s3", "r2"] },
          "storage_path": { "type": "string" },
          "storage_bucket": { "type": "string" },
          "storage_endpoint": { "type": "string", "format": "uri" },
          "storage_region": { "type": "string", "default": "auto" },
          "storage_access_key_id": { "type": "string", "writeOnly": true },
          "storage_secret_access_key": { "type": "string", "writeOnly": true },
          "storage_public_domain": { "type": "string", "format": "uri" },
          "storage_return_location": { "type": "boolean" }
        }
      },
      "SnapshotRequest": {
        "allOf": [
          { "$ref": "#/components/schemas/RenderOptions" },
          {
            "type": "object",
            "required": ["url"],
            "properties": {
              "url": { "$ref": "#/components/schemas/HttpUrl" },
              "markdown": { "type": "boolean", "default": false },
              "html": { "type": "boolean", "default": false },
              "links": { "type": "boolean", "default": false },
              "images": { "type": "boolean", "default": false },
              "videos": { "type": "boolean", "default": false },
              "fonts": { "type": "boolean", "default": false },
              "colors": { "type": "boolean", "default": false },
              "structure": { "type": "boolean", "default": false },
              "design": { "type": "boolean", "default": false },
              "blueprint": { "type": "boolean", "default": false, "description": "Implies design and requires synchronous mode. Adds 6 credits." },
              "viewports": { "type": "array", "items": { "type": "string", "enum": ["desktop", "mobile"] }, "default": ["desktop", "mobile"], "description": "Widest first. Only valid with blueprint=true." },
              "screenshots": { "type": "boolean", "default": true, "description": "One stored screenshot per viewport. Only valid with blueprint=true." },
              "interpret": { "type": "boolean", "default": false, "description": "Generate a grounded prose reading of the blueprint. Only valid with blueprint=true. Adds 3 credits, or 1 with your own provider key." },
              "provider": { "$ref": "#/components/schemas/Provider" },
              "refresh": { "type": "boolean", "default": false },
              "async": { "type": "boolean", "default": false }
            }
          }
        ]
      },
      "ScreenshotRequest": {
        "allOf": [
          { "$ref": "#/components/schemas/RenderOptions" },
          {
            "type": "object",
            "required": ["url"],
            "properties": {
              "url": { "$ref": "#/components/schemas/HttpUrl" },
              "format": { "type": "string", "enum": ["jpg", "png"], "default": "jpg" },
              "quality": { "type": "integer", "minimum": 1, "maximum": 100, "default": 80 },
              "fullPage": { "type": "boolean", "default": false },
              "design": { "type": "boolean", "default": false },
              "async": { "type": "boolean", "default": false }
            }
          }
        ]
      },
      "AsyncRenderRequest": {
        "allOf": [
          { "$ref": "#/components/schemas/RenderOptions" },
          {
            "type": "object",
            "required": ["url"],
            "properties": {
              "url": { "$ref": "#/components/schemas/HttpUrl" },
              "screenshot": { "type": "boolean", "default": false },
              "format": { "type": "string", "enum": ["jpg", "png"], "default": "jpg" },
              "quality": { "type": "integer", "minimum": 1, "maximum": 100, "default": 80 },
              "fullPage": { "type": "boolean", "default": false },
              "extractMetadata": { "type": "boolean" },
              "extractMarkdown": { "type": "boolean" },
              "extractHtml": { "type": "boolean" },
              "extractLinks": { "type": "boolean" },
              "extractImages": { "type": "boolean" },
              "extractVideos": { "type": "boolean" },
              "extractFonts": { "type": "boolean" },
              "extractColors": { "type": "boolean" },
              "extractStructure": { "type": "boolean" },
              "extractDesign": { "type": "boolean" }
            }
          }
        ]
      },
      "BatchRequest": {
        "allOf": [
          { "$ref": "#/components/schemas/RenderOptions" },
          {
            "type": "object",
            "required": ["urls"],
            "properties": {
              "urls": { "type": "array", "minItems": 1, "maxItems": 100, "items": { "$ref": "#/components/schemas/HttpUrl" } },
              "screenshot": { "type": "boolean", "default": false },
              "format": { "type": "string", "enum": ["jpg", "png"], "default": "jpg" },
              "extractMarkdown": { "type": "boolean" },
              "extractHtml": { "type": "boolean" },
              "extractLinks": { "type": "boolean" },
              "extractStructure": { "type": "boolean" }
            }
          }
        ]
      },
      "CrawlRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["url"],
        "properties": {
          "url": { "$ref": "#/components/schemas/HttpUrl" },
          "maxPages": { "type": "integer", "minimum": 1, "maximum": 5000, "default": 50 },
          "maxDepth": { "type": "integer", "minimum": 0, "maximum": 10, "default": 3 },
          "maxConcurrentPages": { "type": "integer", "minimum": 1, "maximum": 10, "default": 3 },
          "maxDurationMs": { "type": "integer", "minimum": 1000, "maximum": 21600000, "default": 1800000 },
          "scope": { "type": "string", "enum": ["origin", "host", "domain", "any"], "default": "origin" },
          "includePaths": { "type": "array", "items": { "type": "string" } },
          "excludePaths": { "type": "array", "items": { "type": "string" } },
          "followBinary": { "type": "boolean", "default": false },
          "robots": { "type": "string", "enum": ["obey", "ignore"], "default": "obey", "description": "`ignore` requires a domain verified for this account and is rejected with `scope: any`. The override never applies off the verified host." },
          "markdown": { "type": "boolean", "default": true },
          "html": { "type": "boolean", "default": false },
          "structure": { "type": "boolean", "default": false },
          "store": { "type": "boolean", "default": true },
          "storage_path": { "type": "string", "default": "crawls" },
          "query": { "type": "string", "enum": ["normalise", "strip", "keep"], "default": "normalise" },
          "webhookUrl": { "$ref": "#/components/schemas/HttpUrl" },
          "webhookSecret": { "type": "string", "writeOnly": true }
        }
      },
      "ScheduledRenderRequest": {
        "allOf": [
          { "$ref": "#/components/schemas/AsyncRenderRequest" },
          { "type": "object", "required": ["scheduleAt"], "properties": { "scheduleAt": { "type": "string", "format": "date-time" } } }
        ]
      },
      "BulkScheduleRequest": {
        "type": "object",
        "description": "One `scheduleAt` per job, not one for the whole request — the point of this endpoint is scheduling different URLs for different times in one call.",
        "required": ["jobs"],
        "properties": {
          "jobs": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "allOf": [
                { "$ref": "#/components/schemas/RenderOptions" },
                {
                  "type": "object",
                  "required": ["url", "scheduleAt"],
                  "properties": {
                    "url": { "$ref": "#/components/schemas/HttpUrl" },
                    "scheduleAt": { "type": "string", "format": "date-time", "description": "Must be in the future." }
                  }
                }
              ]
            }
          }
        }
      },
      "RecurringScheduleRequest": {
        "allOf": [
          { "$ref": "#/components/schemas/AsyncRenderRequest" },
          {
            "type": "object",
            "required": ["pattern"],
            "properties": {
              "pattern": { "type": "string", "description": "Five-field UTC cron. Fields support *, one literal, or */n." },
              "endDate": { "type": "string", "format": "date-time" },
              "limit": { "type": "integer", "minimum": 1 }
            }
          }
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "const": false },
          "error": { "type": "string" },
          "type": { "type": "string" },
          "message": { "type": "string" },
          "fields": { "type": "array", "items": { "$ref": "#/components/schemas/FieldError" } }
        }
      },
      "FieldError": { "type": "object", "properties": { "field": { "type": "string" }, "message": { "type": "string" } }, "required": ["field", "message"] },
      "Credits": {
        "type": "object",
        "required": ["charged", "refunded", "net"],
        "properties": {
          "charged": { "type": "integer", "minimum": 0 },
          "refunded": { "type": "integer", "minimum": 0 },
          "net": { "type": "integer", "minimum": 0 }
        }
      },
      "Design": {
        "type": "object",
        "description": "Deterministic extraction of authored tokens and observed design signals.",
        "properties": {
          "tokens": { "type": "object", "additionalProperties": true },
          "color": { "type": "object", "additionalProperties": true },
          "typography": { "type": "object", "additionalProperties": true },
          "breakpoints": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "motion": { "type": "object", "additionalProperties": true },
          "libraries": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "coverage": { "type": "object", "additionalProperties": true }
        },
        "additionalProperties": true
      },
      "ProviderMetadata": {
        "type": "object",
        "required": ["label", "model", "credentialMode"],
        "properties": {
          "label": { "$ref": "#/components/schemas/Provider" },
          "model": { "type": "string", "readOnly": true, "description": "Server-selected model." },
          "host": { "type": "string" },
          "credentialMode": { "type": "string", "enum": ["platform", "byok"] },
          "dataPolicy": { "type": "object", "additionalProperties": true, "description": "Training, retention and residency terms for the selected provider." },
          "dataResidency": { "type": ["string", "null"] },
          "settings": { "type": "object", "additionalProperties": true },
          "latencyMs": { "type": "integer", "minimum": 0 },
          "finishReason": { "type": ["string", "null"] }
        }
      },
      "TokenUsage": {
        "type": "object",
        "properties": {
          "inputTokens": { "type": "integer", "minimum": 0 },
          "outputTokens": { "type": "integer", "minimum": 0 },
          "totalTokens": { "type": "integer", "minimum": 0 },
          "cacheHitTokens": { "type": "integer", "minimum": 0 },
          "cacheMissTokens": { "type": "integer", "minimum": 0 },
          "reasoningTokens": { "type": "integer", "minimum": 0 },
          "providerDetails": { "type": "object", "additionalProperties": true }
        }
      },
      "Grounding": {
        "type": "object",
        "description": "Whether every CSS literal in the document traced back to the projection. More than five untraceable literals, a missing heading, or truncation refuses the generation rather than returning it.",
        "required": ["status", "unknownLiterals"],
        "properties": {
          "status": { "type": "string", "enum": ["clean", "flagged"] },
          "unknownLiterals": { "type": "array", "maxItems": 5, "items": { "type": "string" }, "description": "Literals absent from the projection. Empty when status is clean." }
        }
      },
      "Interpretation": {
        "type": "object",
        "description": "A grounded Markdown reading of the blueprint, present only with `interpret=true`. Generated from a sanitised projection — page copy, selectors and URLs are removed before anything reaches the provider — and refused rather than returned if it cites a value the projection does not contain.",
        "required": ["document", "promptVersion", "sections", "grounding", "coverage", "provider", "usage", "cache"],
        "properties": {
          "document": { "type": "string", "description": "Grounded Markdown document." },
          "promptVersion": { "type": "string" },
          "sections": { "type": "object", "additionalProperties": { "type": "string" } },
          "grounding": { "$ref": "#/components/schemas/Grounding" },
          "coverage": { "type": "object", "additionalProperties": true },
          "provider": { "$ref": "#/components/schemas/ProviderMetadata" },
          "usage": { "$ref": "#/components/schemas/TokenUsage" },
          "cache": {
            "type": "object",
            "required": ["hit"],
            "properties": { "hit": { "type": "boolean", "description": "True when this document came from the interpretation cache." } }
          }
        }
      },
      "BulkScheduleResponse": {
        "type": "object",
        "description": "Per-item scheduling results. `success` is false on a 207: some jobs were rejected and the rest were scheduled.",
        "required": ["success", "total", "scheduled", "failed", "jobs"],
        "properties": {
          "success": { "type": "boolean", "description": "True only when every job was scheduled." },
          "total": { "type": "integer", "minimum": 0, "description": "Jobs submitted." },
          "scheduled": { "type": "integer", "minimum": 0 },
          "failed": { "type": "integer", "minimum": 0 },
          "jobs": {
            "type": "array",
            "description": "The jobs that were scheduled, each keyed back to its index in the request.",
            "items": {
              "type": "object",
              "properties": {
                "index": { "type": "integer", "minimum": 0 },
                "id": { "type": "string", "format": "uuid" },
                "url": { "$ref": "#/components/schemas/HttpUrl" },
                "scheduledFor": { "type": "string", "format": "date-time" }
              }
            }
          },
          "errors": {
            "type": "array",
            "description": "Present only when at least one job was rejected.",
            "items": {
              "type": "object",
              "properties": {
                "index": { "type": "integer", "minimum": 0 },
                "url": { "type": "string" },
                "error": { "type": "string" }
              }
            }
          }
        }
      },
      "Blueprint": {
        "type": "object",
        "description": "Everything needed to rebuild the page, attributed to the parts of the page it belongs to. Motion and responsive layout are filed under regions rather than listed flat, so \"what does the hero do\" is answerable. `url`, `metadata`, `markdown`, `links`, `images` and `design` are not restated here — they are already top-level fields of the same response.",
        "required": ["version", "viewports", "regions", "limitations", "stats"],
        "properties": {
          "version": { "type": "integer", "const": 1 },
          "viewports": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string", "enum": ["desktop", "mobile"] },
                "width": { "type": "integer" },
                "height": { "type": "integer" },
                "documentHeight": { "type": ["number", "null"] },
                "screenshot": { "type": ["string", "null"], "format": "uri", "description": "Stored image URL, or null when `screenshots=false`." }
              }
            }
          },
          "regions": { "type": "array", "items": { "$ref": "#/components/schemas/BlueprintRegion" } },
          "repeaters": { "type": "array", "items": { "type": "object", "additionalProperties": true }, "description": "Structures repeated across the page — N siblings sharing a shape, which is a component in a loop." },
          "tech": { "type": "array", "items": { "$ref": "#/components/schemas/BlueprintTech" } },
          "stylesheets": { "type": "object", "additionalProperties": { "type": "string" }, "description": "Generated CSS, returned inline rather than stored so a blueprint stays one call: `tokens.css`, `keyframes.css`, `states.css`, `responsive.css`. Empty files are omitted." },
          "motionOrphans": { "type": "array", "items": { "$ref": "#/components/schemas/BlueprintMotion" }, "description": "Animations that could not be filed under a region. Present only when non-empty — an orphan means element identity and the motion readout disagreed, which is surfaced rather than dropped." },
          "instrumentation": { "type": ["object", "null"], "additionalProperties": true, "description": "Health of the motion capture, including which recovery tiers degraded." },
          "limitations": {
            "type": "array",
            "description": "What was found but could not be explained. Read this before treating a rebuild as complete.",
            "items": {
              "type": "object",
              "properties": {
                "kind": { "type": "string", "enum": ["webgl", "instrumentation", "screenshots", "application-logic"] },
                "note": { "type": "string" },
                "count": { "type": "integer" },
                "detail": { "type": "array", "items": { "type": "string" } }
              }
            }
          },
          "truncated": { "type": "array", "items": { "type": "string" }, "description": "Caps that were hit, e.g. `region-skeleton`." },
          "stats": { "type": "object", "additionalProperties": true, "description": "regions, labelled, nodesCaptured, nodesInSkeleton, motion, orphanedMotion, components." },
          "capturedAt": { "type": "string", "format": "date-time" },
          "interpretation": { "$ref": "#/components/schemas/Interpretation" },
          "interpretationError": { "$ref": "#/components/schemas/InterpretationError" }
        }
      },
      "BlueprintRegion": {
        "type": "object",
        "description": "One observed section of the page. Segmentation is measurement; the label is inference, carries its evidence, and is null rather than a guess when the evidence does not support one.",
        "properties": {
          "id": { "type": "string", "description": "Matches the `data-scrinly-id` stamped on the captured element, and joins motion to layout." },
          "order": { "type": "integer", "description": "Document order, top to bottom." },
          "label": { "type": ["string", "null"], "enum": ["nav", "hero", "features", "logos", "pricing", "testimonials", "faq", "cta", "footer", null] },
          "confidence": { "type": ["string", "null"], "enum": ["high", "medium", null], "description": "Null whenever `label` is null, including when two regions competed for the same label and neither won outright." },
          "evidence": { "type": "array", "items": { "type": "string" }, "description": "Why this label, e.g. `tag:header`, `text:pricing`." },
          "selector": { "type": "string" },
          "tag": { "type": "string" },
          "box": { "type": ["array", "null"], "items": { "type": "number" }, "minItems": 4, "maxItems": 4, "description": "[top, left, width, height] in CSS pixels at the primary viewport." },
          "nodeCount": { "type": "integer", "description": "Elements captured in this region, before the skeleton cap." },
          "skeleton": { "type": "array", "items": { "type": "object", "additionalProperties": true }, "description": "Depth-limited element tree, capped per region. Boxes are [top, left, width, height] and properties equal to the CSS default are omitted." },
          "components": { "type": "array", "items": { "type": "object", "additionalProperties": true }, "description": "Repeating structures inside this region — a card rendered in a loop." },
          "motion": { "type": "array", "items": { "$ref": "#/components/schemas/BlueprintMotion" } },
          "responsive": { "type": "array", "items": { "type": "object", "additionalProperties": true }, "description": "Per-viewport layout deltas, carrying only the value each property changes *to* — the from side is already in this region's skeleton." }
        }
      },
      "BlueprintMotion": {
        "type": "object",
        "description": "One animation, classified. Recovered primarily from `document.getAnimations()`, so it is reported the same way whichever library produced it.",
        "properties": {
          "nodeId": { "type": ["string", "null"], "description": "The element this animates, joining it to a node in the region skeleton." },
          "type": { "type": "string", "description": "The effect, named from what the keyframes do: `fade-up`, `fade-zoom-in`, `slide-right`, `class-toggle` when a class carries the effect, or `unknown`." },
          "primitives": { "type": "array", "items": { "type": "string", "enum": ["fade", "slide", "scale", "rotate", "blur", "clip-reveal", "color"] }, "description": "The independent changes the effect is composed of." },
          "detail": { "type": "object", "additionalProperties": true, "description": "Measured magnitudes behind the primitives, e.g. the translate distance and direction." },
          "tier": { "type": ["string", "null"], "description": "Which recovery tier produced this record. Determines `confidence`." },
          "source": { "type": ["string", "null"], "description": "What was intercepted or observed, e.g. `gsap`, `hover`, `mutation`." },
          "confidence": { "type": "string", "enum": ["high", "medium", "low"], "description": "Derived from the tier: exact keyframes are high, a sampled curve is low." },
          "trigger": {
            "type": "object",
            "description": "What starts it. `kind` selects which of the other fields are present.",
            "properties": {
              "kind": { "type": "string", "enum": ["load", "scroll-into-view", "scroll-scrub", "hover", "click", "infinite"] },
              "delayMs": { "type": "integer", "description": "kind=load." },
              "scrollPx": { "type": "integer", "description": "kind=scroll-into-view: scroll offset at which it fired." },
              "threshold": { "type": ["number", "null"], "description": "kind=scroll-into-view: where the element sat in the viewport when it fired — the number an IntersectionObserver threshold is built from." },
              "startPx": { "type": ["integer", "null"], "description": "kind=scroll-scrub." },
              "endPx": { "type": ["integer", "null"], "description": "kind=scroll-scrub." },
              "pinned": { "type": "boolean", "description": "kind=scroll-scrub." }
            }
          },
          "timing": {
            "type": "object",
            "properties": {
              "durationMs": { "type": "integer" },
              "delayMs": { "type": "integer" },
              "easing": { "type": ["string", "null"] },
              "easingAlias": { "type": ["string", "null"], "description": "The cubic-bezier resolved back to a name where one matches." },
              "iterations": { "oneOf": [{ "type": "number" }, { "type": "string", "const": "infinite" }] },
              "direction": { "type": "string" },
              "fill": { "type": "string" }
            },
            "description": "Fields equal to the CSS default are omitted."
          },
          "animationName": { "type": ["string", "null"] },
          "keyframes": { "type": "array", "items": { "type": "object", "additionalProperties": true }, "description": "Present only when the animation has no named rule in `keyframes.css` — for a WAAPI or inline animation this is the only copy." },
          "keyframesRef": { "type": "string", "description": "Name of a rule in `stylesheets[\"keyframes.css\"]`, used instead of repeating frames already carried there." },
          "addedClasses": { "type": "array", "items": { "type": "string" }, "description": "type=class-toggle: the classes added. The effect itself lives in the stylesheet under them." },
          "selector": { "type": ["string", "null"] },
          "modifiers": {
            "type": "object",
            "properties": {
              "stagger": {
                "type": "object",
                "description": "Present when siblings sharing an effect and duration fire at an evenly spaced delay.",
                "properties": {
                  "stepMs": { "type": "integer" },
                  "count": { "type": "integer" }
                }
              }
            }
          }
        }
      },
      "BlueprintTech": {
        "type": "object",
        "description": "A technology detected from observed evidence — a global, a selector, a request host or a generator tag.",
        "properties": {
          "name": { "type": "string" },
          "category": { "type": "string", "enum": ["cms", "ecommerce", "payments", "analytics", "consent", "testing", "chat", "email", "framework", "hosting"] },
          "categoryLabel": { "type": "string", "description": "The category rendered for display." },
          "confidence": { "type": "string", "enum": ["high", "medium"], "description": "High for a JavaScript global or a generator tag, or for two independent kinds of evidence agreeing." },
          "version": { "type": "string", "description": "Present only when the page exposes one." },
          "evidence": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": { "type": "string", "enum": ["global", "generator", "selector", "url", "host"] },
                "value": { "type": "string" }
              }
            }
          }
        }
      },
      "InterpretationError": {
        "type": "object",
        "required": ["type", "message", "retryable"],
        "properties": {
          "type": { "type": "string", "examples": ["llm_grounding_failed"] },
          "message": { "type": "string" },
          "retryable": { "type": "boolean" },
          "reason": { "type": "string" },
          "missingHeadings": { "type": "array", "items": { "type": "string" } },
          "unknownLiteralCount": { "type": "integer", "minimum": 0 }
        }
      },
      "SnapshotResponse": {
        "type": "object",
        "required": ["success", "type", "url", "metadata", "renderTime"],
        "properties": {
          "success": { "const": true },
          "status": { "type": "string", "enum": ["completed", "blueprint_only"], "description": "`blueprint_only` means the capture succeeded and the interpretation did not — see `blueprint.interpretationError`. The blueprint is present and its credits are not refunded." },
          "type": { "const": "snapshot" },
          "url": { "$ref": "#/components/schemas/HttpUrl" },
          "metadata": { "type": "object", "additionalProperties": true },
          "markdown": { "type": "string" },
          "html": { "type": "string" },
          "links": { "type": "array", "items": { "type": "string", "format": "uri" } },
          "images": { "type": "array", "items": { "type": "string" } },
          "videos": { "type": "array", "items": { "type": "string" } },
          "fonts": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "colors": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "structure": { "type": "object", "additionalProperties": true },
          "design": { "$ref": "#/components/schemas/Design" },
          "blueprint": { "$ref": "#/components/schemas/Blueprint" },
          "credits": { "$ref": "#/components/schemas/Credits" },
          "renderTime": { "type": "integer", "minimum": 0 },
          "startedAt": { "type": "string", "format": "date-time" },
          "completedAt": { "type": "string", "format": "date-time" }
        }
      },
      "StoredMedia": {
        "type": "object",
        "required": ["stored", "url"],
        "properties": {
          "stored": { "const": true },
          "url": { "type": "string", "format": "uri" },
          "location": { "type": "string" },
          "contentType": { "type": "string", "enum": ["image/jpeg", "image/png"] }
        }
      },
      "ScreenshotStoredResponse": {
        "type": "object",
        "required": ["success", "type", "url", "media", "renderTime"],
        "properties": {
          "success": { "const": true },
          "type": { "const": "screenshot" },
          "url": { "$ref": "#/components/schemas/HttpUrl" },
          "media": { "$ref": "#/components/schemas/StoredMedia" },
          "design": { "$ref": "#/components/schemas/Design" },
          "renderTime": { "type": "integer", "minimum": 0 }
        }
      },
      "JobAccepted": {
        "type": "object",
        "required": ["success", "id", "status", "statusUrl"],
        "properties": {
          "success": { "const": true },
          "id": { "type": "string", "format": "uuid" },
          "status": { "const": "queued" },
          "statusUrl": { "type": "string", "examples": ["/status/6a8bc66a-0000-4000-8000-000000000000"] }
        }
      },
      "JobStatus": {
        "type": "object",
        "required": ["id", "status", "progress"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "enum": ["queued", "in_progress", "completed", "failed", "not_found"] },
          "progress": { "type": "integer", "minimum": 0, "maximum": 100 },
          "result": { "type": "object", "additionalProperties": true, "description": "Completed result; `truncated` names omitted large fields." },
          "error": { "type": "string" },
          "attempts": { "type": "integer", "minimum": 0 }
        }
      },
      "BatchItem": {
        "type": "object",
        "properties": {
          "url": { "type": "string" },
          "success": { "type": "boolean" },
          "id": { "type": "string", "format": "uuid" },
          "statusUrl": { "type": "string" },
          "batch": { "type": "string", "description": "Domain grouping on smart batches." },
          "error": { "type": "string" }
        },
        "required": ["url", "success"]
      },
      "BatchResponse": {
        "type": "object",
        "required": ["success", "results"],
        "properties": {
          "success": { "type": "boolean" },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/BatchItem" } },
          "credits": { "$ref": "#/components/schemas/Credits" }
        }
      },
      "RetrySummary": {
        "type": "object",
        "properties": {
          "success": { "const": true },
          "retried": { "type": "integer", "minimum": 0 },
          "skipped": { "type": "integer", "minimum": 0 },
          "jobs": { "type": "array", "items": { "$ref": "#/components/schemas/JobAccepted" } }
        }
      },
      "CrawlAccepted": {
        "type": "object",
        "required": ["success", "id", "statusUrl", "pagesUrl", "resultsUrl"],
        "properties": {
          "success": { "const": true },
          "id": { "type": "string", "format": "uuid" },
          "statusUrl": { "type": "string" },
          "pagesUrl": { "type": "string" },
          "resultsUrl": { "type": "string" }
        }
      },
      "Crawl": {
        "type": "object",
        "required": ["id", "status"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "enum": ["running", "completed", "cancelled", "failed", "out_of_credits"] },
          "seedUrl": { "$ref": "#/components/schemas/HttpUrl" },
          "pagesDiscovered": { "type": "integer", "minimum": 0 },
          "pagesCompleted": { "type": "integer", "minimum": 0 },
          "pagesFailed": { "type": "integer", "minimum": 0 },
          "creditsSpent": { "type": "integer", "minimum": 0 },
          "stopReason": { "type": ["string", "null"] },
          "createdAt": { "type": "string", "format": "date-time" },
          "completedAt": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "CrawlList": {
        "type": "object",
        "required": ["success", "crawls"],
        "properties": {
          "success": { "const": true },
          "crawls": { "type": "array", "items": { "$ref": "#/components/schemas/Crawl" } },
          "nextCursor": { "type": ["string", "null"] }
        }
      },
      "CrawlPage": {
        "type": "object",
        "required": ["id", "url", "status", "depth"],
        "properties": {
          "id": { "type": "string" },
          "url": { "$ref": "#/components/schemas/HttpUrl" },
          "status": { "type": "string", "enum": ["queued", "in_progress", "completed", "failed", "skipped"] },
          "depth": { "type": "integer", "minimum": 0 },
          "parentUrl": { "type": ["string", "null"], "format": "uri" },
          "resultUrl": { "type": ["string", "null"], "format": "uri" },
          "error": { "type": ["string", "null"] }
        }
      },
      "CrawlPages": {
        "type": "object",
        "required": ["success", "pages"],
        "properties": {
          "success": { "const": true },
          "pages": { "type": "array", "items": { "$ref": "#/components/schemas/CrawlPage" } },
          "nextCursor": { "type": ["string", "null"] }
        }
      },
      "CrawlResults": {
        "type": "object",
        "required": ["success", "results"],
        "properties": {
          "success": { "const": true },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/CrawlPage" } },
          "nextCursor": { "type": ["string", "null"] }
        }
      },
      "Schedule": {
        "type": "object",
        "required": ["id", "type", "status"],
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string", "enum": ["delayed", "repeatable"] },
          "status": { "type": "string", "enum": ["active", "completed", "cancelled"] },
          "url": { "$ref": "#/components/schemas/HttpUrl" },
          "scheduleAt": { "type": "string", "format": "date-time" },
          "pattern": { "type": "string" },
          "nextRunAt": { "type": ["string", "null"], "format": "date-time" },
          "runCount": { "type": "integer", "minimum": 0 },
          "limit": { "type": ["integer", "null"], "minimum": 1 }
        }
      },
      "ScheduleList": {
        "type": "object",
        "required": ["success", "schedules"],
        "properties": {
          "success": { "const": true },
          "schedules": { "type": "array", "items": { "$ref": "#/components/schemas/Schedule" } },
          "total": { "type": "integer", "minimum": 0 }
        }
      },
      "Usage": {
        "type": "object",
        "required": ["success"],
        "properties": {
          "success": { "const": true },
          "account": { "type": "object", "additionalProperties": true },
          "credits": {
            "type": "object",
            "properties": {
              "used": { "type": "integer", "minimum": 0 },
              "limit": { "type": "integer", "minimum": 0 },
              "remaining": { "type": "integer", "minimum": 0 },
              "periodStart": { "type": "string", "format": "date-time" },
              "periodEnd": { "type": "string", "format": "date-time" }
            }
          }
        }
      }
    }
  }
}
