{
  "openapi": "3.1.0",
  "info": {
    "title": "Scrinly Browser API",
    "version": "1.0.0",
    "description": "Public screenshot, region, Visual Style Guide, visual diff, monitoring, batch, job-status, and usage API."
  },
  "servers": [
    {
      "url": "https://api.scrinly.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Screenshots"
    },
    {
      "name": "Batches"
    },
    {
      "name": "Diffs"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "Usage"
    },
    {
      "name": "Monitors"
    },
    {
      "name": "Recipients"
    }
  ],
  "paths": {
    "/render/screenshot/{id}/transform": {
      "post": {
        "tags": [
          "Screenshots"
        ],
        "operationId": "transformScreenshot",
        "summary": "Transform a stored screenshot",
        "description": "Resize, crop and re-encode a screenshot you already captured — no recapture, no AI. Pick a `preset` or set `width` / `height` / `format`, and optionally cut a `region` or `bounds` first. One credit per output; verified cache hits are refunded.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^scr_"
            },
            "description": "An unexpired screenshotId belonging to the authenticated account."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransformRequest"
              },
              "example": {
                "preset": "og-image",
                "region": "region-1"
              },
              "examples": {
                "preset": {
                  "summary": "OG image of a region",
                  "value": {
                    "preset": "og-image",
                    "region": "region-1"
                  }
                },
                "custom": {
                  "summary": "Custom size and format",
                  "value": {
                    "width": 800,
                    "format": "png"
                  }
                },
                "several": {
                  "summary": "Several outputs from one region",
                  "value": {
                    "region": "region-1",
                    "outputs": [
                      "og-image",
                      "thumbnail",
                      {
                        "preset": "square",
                        "format": "png"
                      }
                    ],
                    "async": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All outputs completed",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TransformSuccess"
                    },
                    {
                      "$ref": "#/components/schemas/TransformBatch"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Scrinly-Storage-URL": {
                "description": "Direct URL; single-output success only.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/AsyncAccepted"
          },
          "207": {
            "description": "Partial success with per-output settlements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransformBatch"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, no charge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "410": {
            "description": "Owned reference expired or unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "422": {
            "description": "All outputs failed, with settled credits",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/TransformBatch"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Infrastructure unavailable; ambiguous settlement supplies a polling job ID rather than claiming a refund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Screenshots"
        ],
        "operationId": "transformScreenshotUrl",
        "summary": "Transform a stored screenshot (URL form)",
        "description": "The same single-output transform as POST, described entirely in the query string — handy for `<img>` tags and quick tests. `cache` defaults to **true** here so re-fetching a link reuses the stored output instead of charging again. `outputs`, `webhookSecret` and storage credentials are POST-only.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^scr_"
            },
            "description": "An unexpired screenshotId belonging to the authenticated account."
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TransformPreset"
            },
            "description": "Named output shape: og-image, twitter-card, thumbnail, square, full-width."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cut this saved region (e.g. `region-1`) from the screenshot. Requires a capture with `regions=true`."
          },
          {
            "name": "part",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "With `region`: part id or index (`0` = first)."
          },
          {
            "name": "savedCrop",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "With `region` + `part`: use the stored crop file instead of cutting original pixels. Use it for pages whose whole screenshot exceeds 64 MP or 24 MiB."
          },
          {
            "name": "bounds",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d+,\\d+,\\d+,\\d+$"
            },
            "description": "`x,y,width,height` in screenshot pixels."
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 32768
            },
            "description": "Output width. Give one side to keep the aspect ratio."
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 32768
            },
            "description": "Output height."
          },
          {
            "name": "fit",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "contain",
                "cover",
                "fill"
              ]
            },
            "description": "How to fit both sides: `contain` may pad, `cover` may crop, `fill` may stretch. Default `contain`."
          },
          {
            "name": "background",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^#[0-9a-fA-F]{6}$"
            },
            "description": "Padding / transparency fill for `contain` and JPEG."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "jpeg",
                "png",
                "webp"
              ]
            },
            "description": "Output encoding. Default: same family as the source."
          },
          {
            "name": "quality",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Lossy quality. Default 80 (or the preset's)."
          },
          {
            "name": "cache",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Reuse an identical stored output (refunded). Defaults to true on GET."
          },
          {
            "name": "async",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Return 202 and a status URL instead of waiting."
          },
          {
            "name": "webhookUrl",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Deliver the result here; implies async."
          }
        ],
        "responses": {
          "200": {
            "description": "All outputs completed",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TransformSuccess"
                    },
                    {
                      "$ref": "#/components/schemas/TransformBatch"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Scrinly-Storage-URL": {
                "description": "Direct URL; single-output success only.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/AsyncAccepted"
          },
          "207": {
            "description": "Partial success with per-output settlements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransformBatch"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, no charge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "410": {
            "description": "Owned reference expired or unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "422": {
            "description": "All outputs failed, with settled credits",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/TransformBatch"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Infrastructure unavailable; ambiguous settlement supplies a polling job ID rather than claiming a refund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/render/screenshot": {
      "get": {
        "tags": [
          "Screenshots"
        ],
        "operationId": "getScreenshot",
        "summary": "Capture a screenshot",
        "description": "Returns JPEG or PNG bytes unless storage, regions, asynchronous delivery, or Visual Style Guide requires a JSON result.\n\nEvery option that fits in a URL is available here. These are **POST-body only** and are refused with `400` in a query string, because URLs are recorded in logs, browser history and caches: `headers`, `cookies`, `webhookSecret`, and customer-storage credentials (`storage_access_key_id`, `storage_secret_access_key`, `storage_application_key_id`, `storage_application_key`). Customer-storage destinations (`storage_provider`, `storage_bucket`, `storage_endpoint`, `storage_region`, `storage_public_domain`) need those credentials, so use POST for them too.",
        "parameters": [
          {
            "$ref": "#/components/parameters/TargetUrl"
          },
          {
            "$ref": "#/components/parameters/Format"
          },
          {
            "$ref": "#/components/parameters/Quality"
          },
          {
            "$ref": "#/components/parameters/Width"
          },
          {
            "$ref": "#/components/parameters/Height"
          },
          {
            "$ref": "#/components/parameters/Device"
          },
          {
            "$ref": "#/components/parameters/FullPage"
          },
          {
            "$ref": "#/components/parameters/Theme"
          },
          {
            "$ref": "#/components/parameters/Timeout"
          },
          {
            "$ref": "#/components/parameters/WaitUntil"
          },
          {
            "$ref": "#/components/parameters/BlockCookieBanners"
          },
          {
            "$ref": "#/components/parameters/BlockAds"
          },
          {
            "$ref": "#/components/parameters/BlockChatWidgets"
          },
          {
            "$ref": "#/components/parameters/BlockPopups"
          },
          {
            "$ref": "#/components/parameters/BlockAccessibilityWidgets"
          },
          {
            "$ref": "#/components/parameters/HideSelectors"
          },
          {
            "$ref": "#/components/parameters/ClickSelectors"
          },
          {
            "$ref": "#/components/parameters/ScrollToElement"
          },
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/StoragePath"
          },
          {
            "$ref": "#/components/parameters/Regions"
          },
          {
            "$ref": "#/components/parameters/StyleGuide"
          },
          {
            "$ref": "#/components/parameters/Regenerate"
          },
          {
            "$ref": "#/components/parameters/Cache"
          },
          {
            "$ref": "#/components/parameters/Async"
          },
          {
            "$ref": "#/components/parameters/ProviderApiKey"
          },
          {
            "$ref": "#/components/parameters/Design"
          },
          {
            "$ref": "#/components/parameters/WebhookUrl"
          },
          {
            "$ref": "#/components/parameters/Priority"
          },
          {
            "$ref": "#/components/parameters/StorageReturnLocation"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScreenshotSuccess"
          },
          "202": {
            "$ref": "#/components/responses/AsyncAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/CaptureFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/NavigationTimeout"
          }
        }
      },
      "post": {
        "tags": [
          "Screenshots"
        ],
        "operationId": "createScreenshot",
        "summary": "Capture a screenshot",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProviderApiKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreenshotRequest"
              },
              "examples": {
                "stored": {
                  "value": {
                    "url": "https://example.com",
                    "fullPage": true,
                    "store": true,
                    "storage_path": "screenshots"
                  }
                },
                "styleGuide": {
                  "value": {
                    "url": "https://example.com",
                    "styleGuide": true,
                    "cache": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScreenshotSuccess"
          },
          "202": {
            "$ref": "#/components/responses/AsyncAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/CaptureFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/NavigationTimeout"
          }
        }
      }
    },
    "/render/batch": {
      "post": {
        "tags": [
          "Batches"
        ],
        "operationId": "createScreenshotBatch",
        "summary": "Queue stored screenshots",
        "description": "Accepts up to 100 URLs. Public batches are screenshot-only and reserve one credit per accepted item.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              },
              "example": {
                "urls": [
                  "https://example.com",
                  "https://example.org"
                ],
                "screenshot": true,
                "store": true,
                "storage_path": "batch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BatchResult"
          },
          "207": {
            "$ref": "#/components/responses/BatchResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/render/diff": {
      "post": {
        "tags": [
          "Diffs"
        ],
        "operationId": "createScreenshotDiff",
        "summary": "Compare stored screenshots",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiffRequest"
              },
              "example": {
                "before": {
                  "media": {
                    "url": "https://storage.example.com/before.jpg"
                  }
                },
                "after": {
                  "media": {
                    "url": "https://storage.example.com/after.jpg"
                  }
                },
                "mode": "perceptual",
                "visualization": "overlay"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed comparison",
            "headers": {
              "X-Scrinly-Storage-URL": {
                "$ref": "#/components/headers/StorageUrl"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiffResponse"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/AsyncAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "422": {
            "$ref": "#/components/responses/DiffFailed"
          }
        }
      }
    },
    "/status/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "getJobStatus",
        "summary": "Get account-owned job status",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "operationId": "getUsage",
        "summary": "Get credit usage",
        "responses": {
          "200": {
            "description": "Current account usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/render/monitors": {
      "get": {
        "tags": [
          "Monitors"
        ],
        "operationId": "listMonitors",
        "summary": "List monitors",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Cursor-paginated monitors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Monitors"
        ],
        "operationId": "createMonitor",
        "summary": "Create a monitor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Monitor created and baseline queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/PlanRestricted"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/render/monitors/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/MonitorId"
        }
      ],
      "get": {
        "tags": [
          "Monitors"
        ],
        "operationId": "getMonitor",
        "summary": "Get a monitor",
        "responses": {
          "200": {
            "description": "Monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Monitors"
        ],
        "operationId": "updateMonitor",
        "summary": "Update, pause, or resume a monitor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Monitors"
        ],
        "operationId": "deleteMonitor",
        "summary": "Delete a monitor",
        "responses": {
          "200": {
            "description": "Monitor deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/render/monitors/{id}/run": {
      "post": {
        "tags": [
          "Monitors"
        ],
        "operationId": "runMonitor",
        "summary": "Queue a manual monitor run",
        "parameters": [
          {
            "$ref": "#/components/parameters/MonitorId"
          }
        ],
        "responses": {
          "202": {
            "description": "Run queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorRunResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/render/monitors/{id}/baseline": {
      "post": {
        "tags": [
          "Monitors"
        ],
        "operationId": "replaceMonitorBaseline",
        "summary": "Replace a fixed or rolling baseline",
        "parameters": [
          {
            "$ref": "#/components/parameters/MonitorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "runId"
                ],
                "properties": {
                  "runId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Baseline replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/render/monitors/{id}/runs": {
      "get": {
        "tags": [
          "Monitors"
        ],
        "operationId": "listMonitorRuns",
        "summary": "List monitor runs",
        "parameters": [
          {
            "$ref": "#/components/parameters/MonitorId"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Cursor-paginated runs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorRunList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/render/monitors/{id}/runs/{runId}": {
      "get": {
        "tags": [
          "Monitors"
        ],
        "operationId": "getMonitorRun",
        "summary": "Get a monitor run",
        "parameters": [
          {
            "$ref": "#/components/parameters/MonitorId"
          },
          {
            "$ref": "#/components/parameters/RunId"
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorRunResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/render/monitor-recipients": {
      "get": {
        "tags": [
          "Recipients"
        ],
        "operationId": "listMonitorRecipients",
        "summary": "List alert recipients",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Recipients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Recipients"
        ],
        "operationId": "createMonitorRecipient",
        "summary": "Create or resend recipient verification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Verification sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/render/monitor-recipients/verify": {
      "get": {
        "tags": [
          "Recipients"
        ],
        "operationId": "verifyMonitorRecipient",
        "summary": "Verify an alert recipient",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 20
            },
            "description": "Single-use token from the verification email."
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/render/monitor-recipients/{id}": {
      "delete": {
        "tags": [
          "Recipients"
        ],
        "operationId": "deleteMonitorRecipient",
        "summary": "Delete an alert recipient",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Scrinly API key"
      }
    },
    "parameters": {
      "TargetUrl": {
        "name": "url",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uri",
          "pattern": "^https?://"
        }
      },
      "Format": {
        "name": "format",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "jpg",
            "png"
          ],
          "default": "jpg"
        }
      },
      "Quality": {
        "name": "quality",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 80
        }
      },
      "Width": {
        "name": "width",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 320,
          "maximum": 3840,
          "default": 1280
        }
      },
      "Height": {
        "name": "height",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 240,
          "maximum": 2160,
          "default": 720
        }
      },
      "Device": {
        "name": "device",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Server-supported device preset; overrides width and height."
      },
      "FullPage": {
        "name": "fullPage",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "Theme": {
        "name": "theme",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "light",
            "dark"
          ],
          "default": "light"
        }
      },
      "Timeout": {
        "name": "timeout",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 10,
          "maximum": 60,
          "default": 30
        }
      },
      "WaitUntil": {
        "name": "waitUntil",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "load",
            "domcontentloaded",
            "networkidle0",
            "networkidle2"
          ],
          "default": "load"
        },
        "description": "Navigation readiness strategy. Network-idle modes are opt-in for pages that eventually become quiet."
      },
      "Store": {
        "name": "store",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "StoragePath": {
        "name": "storage_path",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "Regions": {
        "name": "regions",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        },
        "description": "Adds ordered full-page crops and two credits; implies full-page storage."
      },
      "StyleGuide": {
        "name": "styleGuide",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        },
        "description": "Adds a GPT-5.6 Luna Visual Style Guide; implies regions and stored full-page capture."
      },
      "Regenerate": {
        "name": "regenerate",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        },
        "description": "Bypasses only the seven-day Style Guide cache. Requires styleGuide=true."
      },
      "Cache": {
        "name": "cache",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "Async": {
        "name": "async",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "ProviderApiKey": {
        "name": "X-Scrinly-Provider-API-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "writeOnly": true,
          "maxLength": 1024
        },
        "description": "Ephemeral OpenAI BYOK for Visual Style Guide. Server-to-server and synchronous only."
      },
      "JobId": {
        "name": "jobId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "MonitorId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "RunId": {
        "name": "runId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "RecipientId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 50
        }
      },
      "BlockCookieBanners": {
        "name": "blockCookieBanners",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": true
        },
        "description": "Hide common cookie-consent banners before capture."
      },
      "BlockAds": {
        "name": "blockAds",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": true
        },
        "description": "Block common ad networks and hide ad slots."
      },
      "BlockChatWidgets": {
        "name": "blockChatWidgets",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        },
        "description": "Hide third-party chat and support widgets."
      },
      "BlockPopups": {
        "name": "blockPopups",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        },
        "description": "Hide newsletter and promotional popups."
      },
      "BlockAccessibilityWidgets": {
        "name": "blockAccessibilityWidgets",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        },
        "description": "Hide floating accessibility-overlay launchers."
      },
      "HideSelectors": {
        "name": "hideSelectors",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated CSS selectors to hide before capture, e.g. `.promo,#chat`. Commas inside `()`, `[]` or quotes do not split. The POST body takes an array."
      },
      "ClickSelectors": {
        "name": "clickSelectors",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated CSS selectors to click, in order, before capture. Same splitting rules as `hideSelectors`."
      },
      "ScrollToElement": {
        "name": "scrollToElement",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "CSS selector to scroll into view before capture."
      },
      "Design": {
        "name": "design",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        },
        "description": "Add raw observed design evidence (colors, fonts, spacing) to the JSON result. One credit."
      },
      "WebhookUrl": {
        "name": "webhookUrl",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "uri"
        },
        "description": "Deliver the result to this URL; implies `async=true`. Send `webhookSecret` in a POST body to sign deliveries."
      },
      "Priority": {
        "name": "priority",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "low",
            "normal",
            "high"
          ],
          "default": "normal"
        },
        "description": "Queue priority for asynchronous jobs."
      },
      "StorageReturnLocation": {
        "name": "storage_return_location",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        },
        "description": "Include the provider location of the stored object in `media`."
      }
    },
    "headers": {
      "StorageUrl": {
        "description": "Direct URL for the complete stored output.",
        "schema": {
          "type": "string",
          "format": "uri"
        }
      },
      "CreditsUsed": {
        "description": "Credits used in the current allowance after settlement.",
        "schema": {
          "type": "integer"
        }
      },
      "CreditsLimit": {
        "description": "Account credit allowance.",
        "schema": {
          "type": "integer"
        }
      },
      "LlmProvider": {
        "description": "Selected Style Guide provider.",
        "schema": {
          "type": "string",
          "const": "openai"
        }
      }
    },
    "responses": {
      "ScreenshotSuccess": {
        "description": "Binary or JSON screenshot result. JSON may be partial when an add-on failed.",
        "headers": {
          "X-Scrinly-Storage-URL": {
            "$ref": "#/components/headers/StorageUrl"
          },
          "X-Scrinly-Credits-Used": {
            "$ref": "#/components/headers/CreditsUsed"
          },
          "X-Scrinly-Credits-Limit": {
            "$ref": "#/components/headers/CreditsLimit"
          },
          "X-Scrinly-LLM-Provider": {
            "$ref": "#/components/headers/LlmProvider"
          }
        },
        "content": {
          "image/jpeg": {
            "schema": {
              "type": "string",
              "contentEncoding": "binary"
            }
          },
          "image/png": {
            "schema": {
              "type": "string",
              "contentEncoding": "binary"
            }
          },
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ScreenshotResponse"
                },
                {
                  "$ref": "#/components/schemas/ScreenshotPartialResponse"
                }
              ]
            }
          }
        }
      },
      "AsyncAccepted": {
        "description": "Job accepted",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AsyncAccepted"
            }
          }
        }
      },
      "BatchResult": {
        "description": "Per-item acceptance; 207 means partial acceptance.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BatchResponse"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Validation failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Invalid or missing Scrinly key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Credit allowance exhausted",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PlanRestricted": {
        "description": "Plan does not allow the requested monitor capacity or cadence",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Unknown or cross-account resource",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflicting run or state transition",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooLarge": {
        "description": "Request or image exceeds limits",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "CaptureFailed": {
        "description": "Complete finite screenshot could not be produced",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NavigationTimeout": {
        "description": "Page navigation exceeded the requested timeout; the complete charge is refunded and the failure is retryable.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "DiffFailed": {
        "description": "Source integrity or diff processing failed; credit refunded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Host or provider rate limit",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unavailable": {
        "description": "Required platform configuration or provider unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "TransformBounds": {
        "type": "object",
        "properties": {
          "x": {
            "type": "integer",
            "minimum": 0
          },
          "y": {
            "type": "integer",
            "minimum": 0
          },
          "width": {
            "type": "integer",
            "minimum": 1,
            "maximum": 32768
          },
          "height": {
            "type": "integer",
            "minimum": 1,
            "maximum": 32768
          }
        },
        "required": [
          "x",
          "y",
          "width",
          "height"
        ],
        "additionalProperties": false
      },
      "TransformOutputSpec": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "preset": {
            "$ref": "#/components/schemas/TransformPreset"
          },
          "region": {
            "type": "string",
            "description": "Cut this saved region (e.g. `region-1`) from the screenshot. Requires a capture with `regions=true`."
          },
          "part": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 0
              }
            ],
            "description": "With `region`: one part of it, by id (`region-1-part-0`) or index (`0` = first). Original screenshot pixels."
          },
          "savedCrop": {
            "type": "boolean",
            "default": false,
            "description": "With `region` + `part`: use the stored crop file instead of cutting original pixels. Use it for pages whose whole screenshot exceeds 64 MP or 24 MiB."
          },
          "bounds": {
            "oneOf": [
              {
                "type": "string",
                "pattern": "^\\d+,\\d+,\\d+,\\d+$",
                "description": "`x,y,width,height` in screenshot pixels"
              },
              {
                "$ref": "#/components/schemas/TransformBounds"
              }
            ],
            "description": "Cut an arbitrary rectangle. Cannot be combined with `region`."
          },
          "width": {
            "type": "integer",
            "minimum": 1,
            "maximum": 32768,
            "description": "Output width. Give one side to keep the aspect ratio."
          },
          "height": {
            "type": "integer",
            "minimum": 1,
            "maximum": 32768,
            "description": "Output height."
          },
          "fit": {
            "type": "string",
            "enum": [
              "contain",
              "cover",
              "fill"
            ],
            "description": "How to fit both sides: `contain` may pad, `cover` may crop, `fill` may stretch. Default `contain`."
          },
          "background": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$",
            "description": "Padding / transparency fill for `contain` and JPEG."
          },
          "format": {
            "type": "string",
            "enum": [
              "jpeg",
              "png",
              "webp"
            ],
            "description": "Output encoding. Default: same family as the source."
          },
          "quality": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Lossy quality. Default 80 (or the preset's)."
          }
        },
        "description": "One output: optionally what to cut (`region` / `part` / `bounds`), then its size and encoding. No selector = the whole screenshot; no size = re-encode only."
      },
      "TransformRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Describe one output at the top level, or several in `outputs`. With `outputs`, top-level fields are defaults for every output; an output that says what to cut replaces the default `region`/`bounds`.",
        "properties": {
          "preset": {
            "$ref": "#/components/schemas/TransformPreset"
          },
          "region": {
            "type": "string",
            "description": "Cut this saved region (e.g. `region-1`) from the screenshot. Requires a capture with `regions=true`."
          },
          "part": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 0
              }
            ],
            "description": "With `region`: one part of it, by id (`region-1-part-0`) or index (`0` = first). Original screenshot pixels."
          },
          "savedCrop": {
            "type": "boolean",
            "default": false,
            "description": "With `region` + `part`: use the stored crop file instead of cutting original pixels. Use it for pages whose whole screenshot exceeds 64 MP or 24 MiB."
          },
          "bounds": {
            "oneOf": [
              {
                "type": "string",
                "pattern": "^\\d+,\\d+,\\d+,\\d+$",
                "description": "`x,y,width,height` in screenshot pixels"
              },
              {
                "$ref": "#/components/schemas/TransformBounds"
              }
            ],
            "description": "Cut an arbitrary rectangle. Cannot be combined with `region`."
          },
          "width": {
            "type": "integer",
            "minimum": 1,
            "maximum": 32768,
            "description": "Output width. Give one side to keep the aspect ratio."
          },
          "height": {
            "type": "integer",
            "minimum": 1,
            "maximum": 32768,
            "description": "Output height."
          },
          "fit": {
            "type": "string",
            "enum": [
              "contain",
              "cover",
              "fill"
            ],
            "description": "How to fit both sides: `contain` may pad, `cover` may crop, `fill` may stretch. Default `contain`."
          },
          "background": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$",
            "description": "Padding / transparency fill for `contain` and JPEG."
          },
          "format": {
            "type": "string",
            "enum": [
              "jpeg",
              "png",
              "webp"
            ],
            "description": "Output encoding. Default: same family as the source."
          },
          "quality": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Lossy quality. Default 80 (or the preset's)."
          },
          "outputs": {
            "type": "array",
            "minItems": 1,
            "maxItems": 16,
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TransformPreset"
                },
                {
                  "$ref": "#/components/schemas/TransformOutputSpec"
                }
              ]
            },
            "description": "Several outputs in one job, one credit each. Each is a preset name or an object; top-level fields apply to all. Returns ordered `results`."
          },
          "cache": {
            "type": "boolean",
            "default": false
          },
          "async": {
            "type": "boolean",
            "default": false
          },
          "store": {
            "const": true
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri"
          },
          "webhookSecret": {
            "type": "string",
            "writeOnly": true
          },
          "storage_path": {
            "type": "string",
            "default": "transforms"
          },
          "storage_provider": {
            "type": "string",
            "enum": [
              "b2",
              "s3",
              "r2"
            ]
          },
          "storage_bucket": {
            "type": "string"
          },
          "storage_endpoint": {
            "type": "string",
            "format": "uri",
            "writeOnly": true
          },
          "storage_region": {
            "type": "string"
          },
          "storage_access_key_id": {
            "type": "string",
            "writeOnly": true
          },
          "storage_secret_access_key": {
            "type": "string",
            "writeOnly": true
          },
          "storage_application_key_id": {
            "type": "string",
            "writeOnly": true
          },
          "storage_application_key": {
            "type": "string",
            "writeOnly": true
          },
          "storage_public_domain": {
            "type": "string",
            "format": "uri"
          },
          "storage_return_location": {
            "type": "boolean",
            "default": false
          },
          "storage_bucket_id": {
            "type": "string"
          },
          "storage_bucket_name": {
            "type": "string"
          },
          "storage_account_id": {
            "type": "string"
          },
          "storage_class": {
            "type": "string",
            "enum": [
              "standard",
              "reduced_redundancy",
              "standard_ia",
              "onezone_ia",
              "intelligent_tiering",
              "glacier",
              "deep_archive",
              "outposts",
              "glacier_ir"
            ]
          },
          "storage_acl": {
            "type": "string",
            "enum": [
              "private",
              "public-read"
            ]
          }
        }
      },
      "TransformMedia": {
        "type": "object",
        "required": [
          "stored",
          "url",
          "contentType",
          "width",
          "height",
          "bytes",
          "sha256"
        ],
        "properties": {
          "stored": {
            "type": "boolean",
            "const": true
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Direct B2, S3, or R2 URL."
          },
          "key": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "contentType": {
            "type": "string",
            "enum": [
              "image/jpeg",
              "image/png",
              "image/webp"
            ]
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "bytes": {
            "type": "integer"
          },
          "sha256": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          }
        },
        "additionalProperties": true
      },
      "TransformSuccess": {
        "type": "object",
        "required": [
          "success",
          "type",
          "assetId",
          "screenshotId",
          "source",
          "executedPlan",
          "provenance",
          "media",
          "credits",
          "referenceExpiresAt",
          "cacheHit"
        ],
        "properties": {
          "success": {
            "const": true
          },
          "type": {
            "const": "transform"
          },
          "assetId": {
            "type": "string",
            "pattern": "^ast_"
          },
          "screenshotId": {
            "type": "string",
            "pattern": "^scr_"
          },
          "source": {
            "type": "object",
            "required": [
              "type",
              "bounds"
            ],
            "properties": {
              "type": {
                "enum": [
                  "screenshot",
                  "region",
                  "part",
                  "stored-part",
                  "bounds"
                ]
              },
              "regionId": {
                "type": "string"
              },
              "partId": {
                "type": "string"
              },
              "bounds": {
                "$ref": "#/components/schemas/TransformBounds"
              }
            }
          },
          "executedPlan": {
            "type": "array",
            "minItems": 1,
            "maxItems": 4,
            "items": {
              "type": "object",
              "description": "One executed step: `resize` or `format`."
            },
            "description": "Ordered crop/resize and optional encoding. Format may occur once, last. Otherwise retain source format, lossy quality 80."
          },
          "provenance": {
            "type": "object",
            "required": [
              "sourceSha256",
              "sourceBounds",
              "engine",
              "outputSha256"
            ],
            "properties": {
              "sourceSha256": {
                "type": "string",
                "pattern": "^[a-f0-9]{64}$"
              },
              "sourceBounds": {
                "$ref": "#/components/schemas/TransformBounds"
              },
              "sourceKind": {
                "const": "stored-part"
              },
              "parentScreenshotSha256": {
                "type": "string",
                "pattern": "^[a-f0-9]{64}$"
              },
              "sourceCoordinateSpace": {
                "const": "screenshot"
              },
              "operationCoordinateSpace": {
                "const": "stored-part"
              },
              "outputSha256": {
                "type": "string",
                "pattern": "^[a-f0-9]{64}$"
              },
              "engine": {
                "type": "object",
                "properties": {
                  "backend": {
                    "const": "browser-v1"
                  },
                  "version": {
                    "const": "screenshot-transform-v1"
                  },
                  "browser": {
                    "type": "string"
                  },
                  "codec": {
                    "const": "canvas-2d-v1"
                  }
                },
                "required": [
                  "backend",
                  "version",
                  "browser",
                  "codec"
                ],
                "additionalProperties": false
              }
            }
          },
          "media": {
            "$ref": "#/components/schemas/TransformMedia"
          },
          "credits": {
            "$ref": "#/components/schemas/Credits"
          },
          "referenceExpiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "cacheHit": {
            "type": "boolean"
          }
        }
      },
      "TransformBatch": {
        "type": "object",
        "required": [
          "success",
          "type",
          "screenshotId",
          "results",
          "credits"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "type": {
            "const": "transform"
          },
          "screenshotId": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "minItems": 1,
            "maxItems": 16,
            "items": {
              "allOf": [
                {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TransformSuccess"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                },
                {
                  "type": "object",
                  "required": [
                    "index"
                  ],
                  "properties": {
                    "index": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 15
                    }
                  }
                }
              ]
            }
          },
          "credits": {
            "$ref": "#/components/schemas/Credits"
          },
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          }
        }
      },
      "ScreenshotRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "additionalProperties": false,
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https?://"
          },
          "format": {
            "type": "string",
            "enum": [
              "jpg",
              "png"
            ],
            "default": "jpg"
          },
          "quality": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 80
          },
          "width": {
            "type": "integer",
            "minimum": 320,
            "maximum": 3840,
            "default": 1280
          },
          "height": {
            "type": "integer",
            "minimum": 240,
            "maximum": 2160,
            "default": 720
          },
          "device": {
            "type": "string",
            "description": "Server-supported preset; overrides width and height."
          },
          "fullPage": {
            "type": "boolean",
            "default": false
          },
          "theme": {
            "type": "string",
            "enum": [
              "light",
              "dark"
            ],
            "default": "light"
          },
          "timeout": {
            "type": "integer",
            "minimum": 10,
            "maximum": 60,
            "default": 30
          },
          "waitUntil": {
            "type": "string",
            "enum": [
              "load",
              "domcontentloaded",
              "networkidle0",
              "networkidle2"
            ],
            "default": "load"
          },
          "blockCookieBanners": {
            "type": "boolean"
          },
          "blockAds": {
            "type": "boolean"
          },
          "blockChatWidgets": {
            "type": "boolean"
          },
          "blockPopups": {
            "type": "boolean"
          },
          "blockAccessibilityWidgets": {
            "type": "boolean"
          },
          "hideSelectors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "clickSelectors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scrollToElement": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "writeOnly": true
          },
          "cookies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cookie"
            },
            "writeOnly": true
          },
          "store": {
            "type": "boolean",
            "default": false
          },
          "storage_path": {
            "type": "string"
          },
          "storage_provider": {
            "type": "string",
            "enum": [
              "b2",
              "s3",
              "r2"
            ]
          },
          "storage_bucket": {
            "type": "string"
          },
          "storage_endpoint": {
            "type": "string",
            "format": "uri",
            "writeOnly": true
          },
          "storage_region": {
            "type": "string"
          },
          "storage_access_key_id": {
            "type": "string",
            "writeOnly": true
          },
          "storage_secret_access_key": {
            "type": "string",
            "writeOnly": true
          },
          "storage_application_key_id": {
            "type": "string",
            "writeOnly": true
          },
          "storage_application_key": {
            "type": "string",
            "writeOnly": true
          },
          "storage_public_domain": {
            "type": "string",
            "format": "uri"
          },
          "storage_return_location": {
            "type": "boolean",
            "default": false
          },
          "regions": {
            "type": "boolean",
            "default": false
          },
          "design": {
            "type": "boolean",
            "default": false,
            "description": "Advanced raw observed design evidence."
          },
          "styleGuide": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "object",
                "properties": {
                  "regenerate": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            ],
            "default": false
          },
          "regenerate": {
            "type": "boolean",
            "default": false,
            "description": "Requires Style Guide; bypasses only its AI cache."
          },
          "cache": {
            "type": "boolean",
            "default": false
          },
          "async": {
            "type": "boolean",
            "default": false
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri"
          },
          "webhookSecret": {
            "type": "string",
            "writeOnly": true
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "normal",
              "high"
            ],
            "default": "normal"
          }
        }
      },
      "Cookie": {
        "type": "object",
        "required": [
          "name",
          "value"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string",
            "writeOnly": true
          },
          "domain": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "httpOnly": {
            "type": "boolean"
          },
          "secure": {
            "type": "boolean"
          },
          "sameSite": {
            "type": "string",
            "enum": [
              "Strict",
              "Lax",
              "None"
            ]
          }
        },
        "additionalProperties": false
      },
      "Media": {
        "type": "object",
        "required": [
          "stored",
          "url",
          "contentType"
        ],
        "properties": {
          "stored": {
            "type": "boolean",
            "const": true
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Direct B2, S3, or R2 URL."
          },
          "key": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "contentType": {
            "type": "string",
            "enum": [
              "image/jpeg",
              "image/png"
            ]
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "bytes": {
            "type": "integer"
          },
          "sha256": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          }
        },
        "additionalProperties": true
      },
      "Credits": {
        "type": "object",
        "required": [
          "charged",
          "refunded",
          "net"
        ],
        "properties": {
          "charged": {
            "type": "integer",
            "minimum": 0
          },
          "refunded": {
            "type": "integer",
            "minimum": 0
          },
          "net": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "Bounds": {
        "type": "object",
        "required": [
          "x",
          "y",
          "width",
          "height"
        ],
        "properties": {
          "x": {
            "type": "integer",
            "minimum": 0
          },
          "y": {
            "type": "integer",
            "minimum": 0
          },
          "width": {
            "type": "integer",
            "minimum": 1
          },
          "height": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "RegionSpec": {
        "type": "object",
        "required": [
          "summary",
          "claims",
          "confidence",
          "evidencePartIds"
        ],
        "properties": {
          "summary": {
            "type": "string"
          },
          "claims": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StyleClaim"
            }
          },
          "confidence": {
            "type": "string",
            "enum": [
              "high",
              "medium",
              "low"
            ]
          },
          "evidencePartIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "StyleClaim": {
        "type": "object",
        "required": [
          "category",
          "basis",
          "statement"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "visual_role",
              "layout",
              "hierarchy",
              "color",
              "typography",
              "spacing",
              "components",
              "states",
              "motion",
              "responsive"
            ]
          },
          "basis": {
            "type": "string",
            "enum": [
              "observed",
              "inferred"
            ]
          },
          "statement": {
            "type": "string"
          }
        }
      },
      "RegionPart": {
        "type": "object",
        "required": [
          "id",
          "index",
          "bounds",
          "media"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "index": {
            "type": "integer",
            "minimum": 0
          },
          "bounds": {
            "$ref": "#/components/schemas/Bounds"
          },
          "media": {
            "$ref": "#/components/schemas/Media"
          }
        }
      },
      "Region": {
        "type": "object",
        "required": [
          "id",
          "order",
          "kind",
          "label",
          "confidence",
          "evidenceKinds",
          "bounds",
          "parts"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "order": {
            "type": "integer",
            "minimum": 0
          },
          "kind": {
            "type": "string",
            "enum": [
              "navigation",
              "hero",
              "content",
              "features",
              "pricing",
              "testimonials",
              "faq",
              "logos",
              "cta",
              "footer"
            ]
          },
          "label": {
            "type": "string"
          },
          "confidence": {
            "type": "string",
            "enum": [
              "high",
              "medium",
              "low"
            ]
          },
          "evidenceKinds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "bounds": {
            "$ref": "#/components/schemas/Bounds"
          },
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegionPart"
            }
          },
          "spec": {
            "$ref": "#/components/schemas/RegionSpec"
          }
        }
      },
      "Regions": {
        "type": "object",
        "required": [
          "version",
          "coordinateSpace",
          "screenshot",
          "limits",
          "items",
          "coverage"
        ],
        "properties": {
          "version": {
            "type": "string",
            "enum": [
              "regions-v1",
              "regions-v2"
            ],
            "description": "New captures return regions-v2. Saved v1 manifests remain valid diff inputs, including mixed-version comparisons."
          },
          "coordinateSpace": {
            "type": "string",
            "const": "screenshot_pixels"
          },
          "screenshot": {
            "type": "object",
            "properties": {
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              },
              "sha256": {
                "type": "string"
              }
            },
            "required": [
              "width",
              "height",
              "sha256"
            ]
          },
          "limits": {
            "type": "object",
            "properties": {
              "maxRegionHeight": {
                "type": "integer",
                "const": 1600
              },
              "maxAssets": {
                "type": "integer",
                "const": 32
              }
            },
            "required": [
              "maxRegionHeight",
              "maxAssets"
            ]
          },
          "items": {
            "type": "array",
            "maxItems": 32,
            "items": {
              "$ref": "#/components/schemas/Region"
            }
          },
          "coverage": {
            "$ref": "#/components/schemas/Coverage"
          }
        }
      },
      "Coverage": {
        "type": "object",
        "properties": {
          "ratio": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "truncated": {
            "type": "boolean"
          },
          "omittedAssets": {
            "type": "integer",
            "minimum": 0
          },
          "segmentationDegraded": {
            "type": "boolean",
            "description": "True when unresolved geometry fallback was needed. Included in new v2 captures; absent from historical v1 manifests."
          },
          "safeCuts": {
            "type": "integer",
            "minimum": 0
          },
          "forcedCuts": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": true
      },
      "StyleGuide": {
        "type": "object",
        "required": [
          "version",
          "summary",
          "document",
          "promptVersion",
          "schemaVersion",
          "projectionVersion",
          "visionVersion",
          "grounding",
          "coverage",
          "source",
          "provider",
          "usage",
          "cache"
        ],
        "properties": {
          "version": {
            "type": "string",
            "const": "style-guide-v1"
          },
          "summary": {
            "type": "string"
          },
          "document": {
            "type": "string",
            "description": "Fixed-heading Markdown."
          },
          "promptVersion": {
            "type": "string"
          },
          "schemaVersion": {
            "type": "string",
            "const": "style-guide-v1"
          },
          "projectionVersion": {
            "type": "string"
          },
          "visionVersion": {
            "type": "string"
          },
          "sections": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "grounding": {
            "type": "object",
            "required": [
              "status",
              "unknownLiteralCount"
            ],
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "clean",
                  "flagged"
                ]
              },
              "reason": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "unknownLiteralCount": {
                "type": "integer",
                "minimum": 0
              },
              "diagnostics": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "coverage": {
            "$ref": "#/components/schemas/Coverage"
          },
          "source": {
            "type": "object",
            "properties": {
              "screenshotSha256": {
                "type": "string"
              },
              "regionParts": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "sha256": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "sha256"
                  ]
                }
              }
            },
            "required": [
              "screenshotSha256",
              "regionParts"
            ]
          },
          "provider": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string",
                "const": "openai"
              },
              "model": {
                "type": "string",
                "const": "gpt-5.6-luna"
              },
              "credentialMode": {
                "type": "string",
                "enum": [
                  "platform",
                  "byok"
                ]
              },
              "inputMode": {
                "type": "string",
                "const": "overview_and_region_crops"
              },
              "dataResidency": {
                "type": "string"
              },
              "dataPolicy": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "settings": {
                "type": "object",
                "additionalProperties": true
              },
              "latencyMs": {
                "type": "integer"
              },
              "finishReason": {
                "type": "string"
              }
            },
            "required": [
              "label",
              "model",
              "credentialMode",
              "inputMode"
            ]
          },
          "usage": {
            "$ref": "#/components/schemas/TokenUsage"
          },
          "cache": {
            "type": "object",
            "required": [
              "hit"
            ],
            "properties": {
              "hit": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "TokenUsage": {
        "type": "object",
        "properties": {
          "inputTokens": {
            "type": "integer"
          },
          "outputTokens": {
            "type": "integer"
          },
          "totalTokens": {
            "type": "integer"
          },
          "cacheHitTokens": {
            "type": "integer"
          },
          "cacheMissTokens": {
            "type": "integer"
          },
          "reasoningTokens": {
            "type": "integer"
          },
          "providerDetails": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          }
        }
      },
      "ComponentError": {
        "type": "object",
        "required": [
          "type",
          "message",
          "retryable"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          },
          "reason": {
            "type": "string"
          },
          "unknownLiteralCount": {
            "type": "integer"
          },
          "missingRegionCount": {
            "type": "integer"
          }
        }
      },
      "ScreenshotResponse": {
        "type": "object",
        "required": [
          "success",
          "type",
          "media"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "type": {
            "type": "string",
            "const": "screenshot"
          },
          "screenshotId": {
            "type": "string",
            "pattern": "^scr_[a-f0-9-]{36}$",
            "description": "Opaque account-owned reference for newly completed stored captures. Historical results may omit it; no public lookup route is provided."
          },
          "referenceExpiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Original reference expiry. Cache hits do not renew it; expiry does not delete the delivered image."
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "media": {
            "$ref": "#/components/schemas/Media"
          },
          "design": {
            "type": "object",
            "additionalProperties": true
          },
          "regions": {
            "$ref": "#/components/schemas/Regions"
          },
          "styleGuide": {
            "$ref": "#/components/schemas/StyleGuide"
          },
          "credits": {
            "$ref": "#/components/schemas/Credits"
          },
          "renderTime": {
            "type": "integer"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScreenshotPartialResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ScreenshotResponse"
          },
          {
            "type": "object",
            "required": [
              "status",
              "credits"
            ],
            "properties": {
              "status": {
                "type": "string",
                "const": "partial"
              },
              "regions": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Regions"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "regionError": {
                "$ref": "#/components/schemas/ComponentError"
              },
              "styleGuide": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/StyleGuide"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "styleGuideError": {
                "$ref": "#/components/schemas/ComponentError"
              }
            }
          }
        ]
      },
      "AsyncAccepted": {
        "type": "object",
        "required": [
          "success",
          "id",
          "statusUrl"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "screenshot",
              "diff",
              "transform"
            ]
          },
          "statusUrl": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "credits": {
            "$ref": "#/components/schemas/Credits"
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "required": [
          "urls",
          "screenshot",
          "store",
          "storage_path"
        ],
        "additionalProperties": true,
        "not": {
          "anyOf": [
            {
              "required": [
                "regions"
              ]
            },
            {
              "required": [
                "design"
              ]
            },
            {
              "required": [
                "styleGuide"
              ]
            },
            {
              "required": [
                "regenerate"
              ]
            },
            {
              "required": [
                "cache"
              ]
            }
          ]
        },
        "properties": {
          "urls": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "type": "string",
              "format": "uri",
              "pattern": "^https?://"
            }
          },
          "screenshot": {
            "type": "boolean",
            "const": true
          },
          "store": {
            "type": "boolean",
            "const": true
          },
          "storage_path": {
            "type": "string",
            "minLength": 1
          },
          "format": {
            "type": "string",
            "enum": [
              "jpg",
              "png"
            ],
            "default": "jpg"
          },
          "quality": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 80
          },
          "width": {
            "type": "integer",
            "minimum": 320,
            "maximum": 3840
          },
          "height": {
            "type": "integer",
            "minimum": 240,
            "maximum": 2160
          },
          "device": {
            "type": "string"
          },
          "fullPage": {
            "type": "boolean",
            "default": false
          },
          "theme": {
            "type": "string",
            "enum": [
              "light",
              "dark"
            ],
            "default": "light"
          },
          "timeout": {
            "type": "integer",
            "minimum": 10,
            "maximum": 60
          },
          "waitUntil": {
            "type": "string",
            "enum": [
              "load",
              "domcontentloaded",
              "networkidle0",
              "networkidle2"
            ]
          },
          "hideSelectors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "clickSelectors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scrollToElement": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "writeOnly": true
          },
          "cookies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cookie"
            },
            "writeOnly": true
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri"
          },
          "webhookSecret": {
            "type": "string",
            "writeOnly": true
          },
          "storage_provider": {
            "type": "string",
            "enum": [
              "b2",
              "s3",
              "r2"
            ]
          },
          "storage_bucket": {
            "type": "string"
          },
          "storage_endpoint": {
            "type": "string",
            "format": "uri",
            "writeOnly": true
          },
          "storage_access_key_id": {
            "type": "string",
            "writeOnly": true
          },
          "storage_secret_access_key": {
            "type": "string",
            "writeOnly": true
          },
          "storage_public_domain": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "BatchItem": {
        "type": "object",
        "required": [
          "index",
          "success"
        ],
        "properties": {
          "index": {
            "type": "integer"
          },
          "success": {
            "type": "boolean"
          },
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "statusUrl": {
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/Error"
          },
          "credits": {
            "$ref": "#/components/schemas/Credits"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "required": [
          "success",
          "total",
          "accepted",
          "failed",
          "results"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "total": {
            "type": "integer"
          },
          "accepted": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchItem"
            }
          },
          "credits": {
            "$ref": "#/components/schemas/Credits"
          }
        }
      },
      "DiffSide": {
        "type": "object",
        "required": [
          "media"
        ],
        "properties": {
          "media": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "pattern": "^https://"
              },
              "contentType": {
                "type": "string"
              },
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              },
              "sha256": {
                "type": "string"
              }
            },
            "additionalProperties": true
          },
          "regions": {
            "$ref": "#/components/schemas/Regions"
          }
        },
        "additionalProperties": false
      },
      "DiffRequest": {
        "type": "object",
        "required": [
          "before",
          "after"
        ],
        "properties": {
          "before": {
            "$ref": "#/components/schemas/DiffSide"
          },
          "after": {
            "$ref": "#/components/schemas/DiffSide"
          },
          "mode": {
            "type": "string",
            "enum": [
              "pixel",
              "perceptual"
            ],
            "default": "perceptual"
          },
          "visualization": {
            "type": "string",
            "enum": [
              "overlay",
              "heatmap",
              "mask",
              "none"
            ],
            "default": "overlay"
          },
          "async": {
            "type": "boolean",
            "default": false
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri"
          },
          "webhookSecret": {
            "type": "string",
            "writeOnly": true
          },
          "storage_provider": {
            "type": "string",
            "enum": [
              "b2",
              "s3",
              "r2"
            ]
          },
          "storage_path": {
            "type": "string",
            "default": "diffs"
          }
        },
        "additionalProperties": false
      },
      "DiffRegion": {
[...]
